@mixin pop-over-link(){
  .pop-over-link{
    display:inline-block;
    pop-content{
      width:400px;
      left:0 !important;
      @include phone-content(){

      }
    }
    span{
      color:$primary-color;
      font-weight:bold;
      cursor:pointer;
    }
  }
}

@mixin reveal-content(){
  .sm-logo{
    color:$white;
    cursor:pointer;
  }

  @include ui-icons($component:ci-icons,$font-size:22px,$mark-margin:3px 0 0 0);
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

@mixin demo-footer(){
  footer[data-role=footer] {
    margin-top: 4rem;
    min-height: 150px;
    background: $color-footer-background;
    width: 100%;
    top: 0;
    & > hr {
      padding: 0;
      border-top: 1px solid darken($color-white-gray, 3%);
      height: 1px;
      background: $color-eee;
      &:first-child {
        margin: 0 0 1.5em 0;
      }
    }

    .header-icon{
      @include flexbox();
      span{
        margin-right:.2em;
        font-size:64px;
      }
    }
    .link-dark{
      color:$black;
      &:hover{
        color:lighten($black,5%);
      }
    }
  }

}

@mixin demo-badge(){
  .demo-badge{
    @include invoke-component-default-state(ci-default-light);
    min-height:265px;
    border-radius:5px;
    .asp-header{
      margin-top:-.5em;
    }
    .demo-carousel{
      width:350px;
      padding-top:2em;
    }
  }
}

@mixin demo-flex(){
  .demo-flex{
    @include flexbox($justification:flex-start,$alignment:space-between);
    @include flex-wrap(wrap);
    .demo-carousel{
      width:110%;
      @include order(3);
      background:#f7f7f7;
      border:1px solid #ccc;
      border-left:0;
      border-right:0;
      @include gutter-collapse-m();
      margin-top:1em;
    }
    .logo-main{
      @include order(1);
    }
    .demo-web-components{
      @include order(2);
    }
  }
}