/* Settings ----------------------------------------------------------------------------------------------------------*/

//uncomment out to modify


/* Colors ------------------------------------------------------------------------------------------------------------*/

//
//$white:#fff;
//$gray: #ccc;
//$black:#000;
//$off-black: #222;
//$dark-gray: #333;
//$light-gray:#ddd;
//$medium-gray:#666;


/* Global Variables --------------------------------------------------------------------------------------------------*/
//$component-custom-tags:true;
//$zero: 0 !important;
//$global-background:$white;
$global-font-family: 'ubuntulight';
//$global-font-size: 16px;
//$global-font-size-small: 10px;
//$global-font-size-large: 24px;
//$global-font-color: #777;
//$global-header-font-color:$dark-gray;
//$global-link-color:#888;
//$global-link-color-hover:darken($global-link-color, 15%);
//$global-radius:5px;
//$global-z-index: 999;
//$global-outline:thin dotted $gray;
//$global-touch-outline:thin solid transparent;
//$global-line-height: 150%;
//$global-button-line-height:1;
//$global-list-line-height: 1.25;
//$global-list-style-position: inside;
//$global-inset: 0 1px 0 $white;
//$global-outline:thin dotted $gray;
//$global-touch-search-radius:2px;



/* Icons -------------------------------------------------------------------------------------------------------------*/


//$global-icon-font-family:ellipsis;
//$global-icon-search:\e01a;
//$global-icon-check:\e035;
//$global-icon-radio:\e158;
//$global-icon-dropdown:\e1a9;
//$global-icon-hide:\e1aa;
//$global-icon-toggle:\e137;
//$global-icon-down-arrow:\e1b3;
//$global-icon-up-arrow:\e1b4;
//$global-icon-down-arrow-2:\e00e;
//$global-icon-up-arrow-2:\e00c;
$global-icon-next:\e1a8;
//$global-icon-prev:\e0fa;
$global-icon-down:\e1a5;
//$global-icon-up:\e1aa;
//$global-icon-dashboard:\e065;
//$global-icon-expand:\e08b;
//$global-icon-contract:\e1b0;
//$global-icon-back:\e0f6;
//$global-icon-forward:\e037;
//$global-icon-facebook:\e14a;
//$global-icon-facebook-2:\e14b;
//$global-icon-pinterest:\e197;
//$global-icon-pinterest-2:\e193;
//$global-icon-twitter:\e14e;
//$global-icon-twitter-2:\e047;
//$global-icon-flickr:\e15c;
//$global-icon-flickr-2:\e16d;
//$global-icon-google:\e145;
//$global-icon-google-2:\e147;
//$global-icon-github:\e160;
//$global-icon-github:\e16f;
//$global-icon-remove:\e0db;
//$global-icon-plus:\e095;
//$global-icon-minus:\e093;


/* Grid --------------------------------------------------------------------------------------------------------------*/

$grid-width: 1300px;
//$grid-column-gutter:30px;
//$grid-columns: 12;


/* Sass Component -----------------------------------------------------------------------------------------------------*/

//$include-component-gradient: true;
//$include-component-gradient-inset: false;
//$include-component-text-shadow: true;
//$include-component-box-shadow: false;
//$include-component-active-box-shadow:true;
$include-component-animation: true;
//$component-animation: all 0.15s ease-in;
//$component-hover-darken-factor: 4%;
//$component-border-hover-darken-factor: 4%;
//$component-border: 1px solid;
//$component-text-shadow: 0 1px 0;
//$component-inset-box-shadow: rgba(0, 0, 0, .20) 0px 1px 1px, rgba(255, 255, 255, .40) 0 1px 0 0 inset;
//$component-inset-box-shadow-30: rgba(0, 0, 0, .20) 0px 1px 1px, rgba(255, 255, 255, .30) 0 1px 0 0 inset;
//$component-inset-box-shadow-40: rgba(0, 0, 0, .20) 0px 1px 1px, rgba(255, 255, 255, .40) 0 1px 0 0 inset;
//$component-box-shadow: rgba(0, 0, 0, .20) 0px 1px 1px;
//$component-box-shadow-active: inset 0 3px 5px rgba(0, 0, 0, .175);
//$component-background-disabled: #eee;
//$component-font-color-disabled: darken(#eee, 8%);
//$component-border-disabled:1px solid transparent !important;



/* Core Sass Components ----------------------------------------------------------------------------------------------*/
//default
//$component-default-background: #fff,#f2f2f2;
//$component-default-background-alt: $white;
//$component-default-font-color: #777;
//$component-default-text-shadow: 0 1px 0 $white;
//$component-default-border: #ddd #ddd #bbb #ddd;

//primary
$component-primary-background: #2b9af3;
$component-primary-background-alt: #2b9af3;
$component-primary-font-color: #fff;
$component-primary-text-shadow: none;
$component-primary-border:#2b9af3;

//inverse
$component-inverse-background: #828282;
$component-inverse-font-color: #fff;
$component-inverse-text-shadow: none;
$component-inverse-border: #828282;

//secondary
$component-secondary-background: #63a647;
$component-secondary-background-alt: #63a647;
$component-secondary-font-color: #fff;
$component-secondary-text-shadow: none;
$component-secondary-border: #63a647;


/* Semantic Sass Components ------------------------------------------------------------------------------------------*/
//error
//$component-error-background: #f2dede;
//$component-error-font-color: #bc5251;
//$component-error-border: #eed3d7;
//$component-error-text-shadow: none;

//info
//$component-info-background: #d9edf7;
//$component-info-border: #bce8f1;
//$component-info-font-color: #3a87ad;
//$component-info-text-shadow: none;

//warning
//$component-warning-background: #fcf8e3;
//$component-warning-border: #fbeed5;
//$component-warning-font-color: #c09853;
//$component-warning-text-shadow: none;

//success
//$component-success-background: #dff0d8;
//$component-success-border: #d6e9c6;
//$component-success-font-color: #468847;
//$component-success-text-shadow: none;



/* Screen Breakpoints --------------------------------------------------------------------------*/

$screen-tablet: 1360px;
//$screen-tablet-small: 660px;
//$screen-smartphone: 480px;
//$screen-smartphone-portrait: 320px;
//$screen-desktop:$screen-tablet + 1;


/* Document ------------------------------------------------------------------------------------*/

//$document-background: #fff;
//$document-font-weight: normal;
//$document-margin: 0;
//$document-padding: 0;
//$document-font-smoothing: antialiased;
//$document-link-font-family: $global-font-family;
//$document-link-font-size: $global-font-size;
//$document-link-text-decoration: none;
//$document-link-line-height: inherit;
//$document-link-text-decoration: none;
//$document-link-text-transform:none;
//$document-link-font-weight: normal;
//$document-link-font-weight-hover: normal;
//$document-link-text-decoration-hover: underline;
//$document-link-text-transform-hover: none;
//$document-list-margin-text-direction: 1em;
//$document-highlight-color:#c7254e;
//$document-highlight-background:#eee;
//$document-code-font-weight:normal;


/* Typography ----------------------------------------------------------------------------------*/

//$typography-paragraph-line-height: $global-line-height;;
//$typography-paragraph-margin: 0 0 1em 0;
//$typography-paragraph-lead-font-size: $global-font-size  * 1.5;
//$typography-paragraph-header-sibling-margin: 2em 0 1em 0;
//$typography-paragraph-hr-sibling-margin: 2.5em 0 2.5em 0;
//$typography-grid-header-first-child-margin-top: 1em;
//$typography-aside-paragraph-font-size: $global-font-size;
//$typography-aside-paragraph-font-style: italic;
//$typography-aside-paragraph-line-height: 150%;
//$typography-inset: 0 1px 0 $white;
//$typography-list-style-position: inside;
//$typography-list-line-height: 1.25;
//$typography-hr-border-top: 1px solid $gray;
//$typography-hr-border-bottom: 1px solid lighten($gray, 10%);
//$typography-hr-height: 1px;
//$typography-highlight-background: #eee;
//$typography-hightlight-font-weight: bold;
//$typography-highlight-font-color: #333;
//$typography-hr-margin: 1em 0 1em;
//$typography-blockquote-border: 0;
//$typography-blockquote-left-border: 6px solid;
//$typography-blockquote-background: #f6f6f6;
//$typography-blockquote-font-color: lighten($global-font-color, 10%);
//$typography-blockquote-font-size: $global-font-size;
//$typography-blockquote-font-weight: normal;
//$typography-blockquote-font-style: normal;
//$typography-blockquote-line-height: 1.5;
//$typography-blockquote-margin: 0 0 1em;
//$typography-blockquote-padding: .5em .5em 0 1em;
//$typography-blockquote-link-decoration:underline;
//$typography-blockquote-link-weight:normal;
//$typography-blockquote-link-hover-opacity:.7;
//$typography-cite-font-size: .8em;
//$typography-cite-font-color: lighten($global-font-color, 20%);
//$typography-cite-font-style: normal;


//$typography-header-font-family: inherit;
//$typography-header-font-weight: 300;
//$typography-header-line-height: 1.1;
//$typography-header-margin: .2em 0 .3em 0;
//$typography-header-text-rendering: optimizeLegibility;
//$typography-header-small-font-size: 60%;
//$typography-header-small-font-color: lighten($global-header-font-color, 30%);
//$typography-header-small-line-height: 0;

//$typography-header-1: 4.9em;
//$typography-header-2: 3.375em;
//$typography-header-3: 2.375em;
//$typography-header-4: 1.68em;
//$typography-header-5: 1.2em;
//$typography-header-6: 1em;

//$typography-footer-margin:4em 0 0 0;
//$typography-footer-padding:0;
//$typography-footer-link-font-size: inherit;
//$typography-footer-link-color: $global-font-color;
//$typography-footer-link-color-hover: darken($global-font-color, 15%);
//$typography-footer-copyright-font-size: 1em;
//$typography-footer-copyright-font-color: $global-font-color;
//$typography-footer-copyright-text-transform: uppercase;
//$typography-footer-link-font-weight: normal;
//$typography-footer-label-font-weight: normal;
//$typography-footer-hr-margin: 0 0 1em 0;
//$typography-footer-ul-margin: 1.5em 0 2em 0;
//$typography-footer-label-color: $global-font-color;



/* Buttons --------------------------------------------------------------------------------- */

//$ui-button-radius: $global-radius;
//$ui-button-tiny-radius: tiny-radius();
//$ui-button-font-family: inherit;
//$ui-button-font-size: 1em;
//$ui-button-font-weight: normal;
//$ui-button-line-height: $global-button-line-height;
//$ui-button-margin: .5em 0 0 0;
//$ui-button-padding: .7em 1em .7em 1em;
//$ui-button-font-size: 1em;
//$ui-button-icon-padding: 1.5em;
//$ui-button-large-padding: .8em 1.15em .8em 1.15em;
//$ui-button-large-font-size: 1.15em;
//$ui-button-small-padding: .6em .8em .6em .8em;
//$ui-button-small-font-size: .9em;
//$ui-button-tiny-padding: .5em .7em .5em .7em;
//$ui-button-tiny-font-size: .8em;
//$ui-button-jumbo-padding: 1.15em 1.5em 1.15em 1.5em;
//$ui-button-jumbo-font-size: 1.5em;
//$ui-button-transparent-opacity: .8;


/* Forms ----------------------------------------------------------------------------------- */

//$include-form-input-animation: true;
//$form-input-margin: 0 0 1em 0;
$form-input-padding: 0.5em 0.75em;

//$form-spacing: 1.5em;
//$form-label-font-size: 1em;
$form-label-font-weight: normal;
//$form-label-font-color: $global-font-color;
//$form-label-bottom-margin: .2em;
//$form-input-animation: all 0.25s linear;

//$form-input-border-radius: 0;
//$form-input-outline: none;

//$form-fieldset-padding: .5em;
//$form-fieldset-margin: 1em 0;
//$form-fieldset-button-margin-top: 3em;
//$form-fieldset-border:0;

//$form-checkbox-label-padding: 0 0 0 1.5em;
//$form-checkbox-size: 1.2em;
//$form-checkbox-icon-font-size: 1em;
//$form-radio-border-radius: 100px;
//$form-radio-icon-font-size: .625em;

//$form-switch-toggle-size: 2.5em;
//$form-switch-height: 2.5em;
//$form-switch-width: 5em;
//$form-switch-border-radius: 2.5em;
//$form-switch-top-position: .7em;
//$form-switch-font-size: .75em;

//$form-dropdown-padding: .5em 1em .5em 1em;
//$form-dropdown-border-radius: .6em;
//$form-dropdown-width: 18.625em;
//$form-dropdown-select-font-weight: normal;

/* Labels -------------------------------------------------------------------------------- */
//$ui-label-padding:2px 4px 2px;
//$ui-label-background:$inverse-color;
//$ui-label-font-color: $white;
//$ui-label-font-size:.8em;
//$ui-label-font-weight:normal;
//$ui-label-text-transform:none;
//$ui-label-text-decoration:none;
//$ui-label-text-align:center;
//$ui-label-line-height:1;
//$ui-label-radius:$global-radius;
//$ui-label-round-padding:1px 7px 2px;

//$ui-semantic-label-margin: 1em 0;
//$ui-semantic-label-padding:.6em 0 .6em 2em;
//$ui-semantic-label-font-size:1em;
//$ui-semantic-label-border-radius:$global-radius;

