///variables & colors ---------------------------------

$fonts: (

);

$colors:(
        green:#7da740,
        footer-background:#e0e2e3,
        white-gray: #d5d5d5,
        dark: #1b1b1b,
        light:#f7f7f7
);

