<script src="product-bag.js"></script>
<product-bag>
    <template>
        <ui-template id="fragment-product-bag">
            <span class="icon-close" data-role="close"></span>
            <bag-list>
                {#item}
                <bag-item>
                    <thumb-image>
                        <img src="{imgUrl}">
                    </thumb-image>
                    <div class="item-descriptions">
                        <a>{name|s}</a>
                        <p class="sku">{sku}</p>
                        {#descriptions}
                        <p>
                            <b>{label}: </b>{text|s}
                        </p>
                        {/descriptions}
                    </div>
                    <div class="price-column">
                        <span class="price quantity">{quantity} </span> 
                        <span class="price">${@formatCurrency value="{price}" /}</span>
                    </div>
                </bag-item>
                <hr />
                {/item}
            </bag-list>
            <div class="bag-message">Added to Bag</div>
            <bag-summary>
                <bag-totals>
                    $<span data-bind="text:subtotal">{subtotal}</span>
                </bag-totals>
                <bag-actions>
                    <a href="/Checkout/Shopping-Bag" class="ui-button inverse margin-right">Shopping Bag</a>
                    <a href="/Checkout" class="ui-button secondary">Checkout</a>
                </bag-actions>
            </bag-summary>
        </ui-template>
        <touch-template>
            <span class="icon-ui-checkmark"></span>
            <span class="label">Added to Bag</span>
        </touch-template>
    </template>
</product-bag>
