<script src="profile-form.js"></script>
 <profile-form>
     <template>
         <form method="POST" action="" id="elliptical-profile-form">
             <input type="text" name="firstName" data-bind="value:firstName" id="firstName" class="third {firstName_error}"
                    placeholder="{@placeholder value="{firstName_placeholder}" defaultValue="First Name" /}" value="{firstName}">
            
             <input type="text" name="middleName" data-bind="value:middleName" id="middleName" class="third {middleName_error}"
                    placeholder="{@placeholder value="{middleName_placeholder}" defaultValue="Middle Name" /}" value="{middleName}">
            
             <input type="text" name="lastName" data-bind="value:lastName" id="lastName" class="third {lastName_error}"
                    placeholder="{@placeholder value="{lastName_placeholder}" defaultValue="Last Name" /}" value="{lastName}">

             <input type="text" name="address" data-bind="value:address" id="address" class="{address_error}"
                    placeholder="{@placeholder value="{address_placeholder}" defaultValue="Address" /}" value="{address}">

             <input type="text" name="address2" data-bind="value:address2" id="address2" class="{address2_error}"
                    placeholder="{@placeholder value="{address2_placeholder}" defaultValue="Address 2" /}" value="{address2}">

             <input type="text" name="city" data-bind="value:city" id="city" class="{city_error}"
                    placeholder="{@placeholder value="{city_placeholder}" defaultValue="City" /}" value="{city}">

             <state-select field="state" html5-imported="true" class="{state_error}" id="state"></state-select>
             <input type="hidden" name="state" data-bind="value:state" value="{state}">

             <input type="text" name="zip" data-bind="value:zip" id="zip" class="{zip_error}"
                    placeholder="{@placeholder value="{zip_placeholder}" defaultValue="Zip Code" /}" value="{zip}">

             <input type="text" name="phone" data-bind="value:phone" id="phone" class="{phone_error}"
                    placeholder="{@placeholder value="{phone_placeholder}" defaultValue="Telephone" /}" value="{phone}">

             <input type="text" name="phone2" data-bind="value:phone2" id="phone2" class="{phone2_error}"
                    placeholder="{@placeholder value="{phone2_placeholder}" defaultValue="Telephone 2" /}" value="{phone2}">

             <ui-flex-container class="full-width">
                 <button class="ui-button secondary large margin">Save</button>
             </ui-flex-container>
             {#submitLabel}
             <label class="ui-semantic-label {css} {cssDisplay}">{message}&nbsp;</label>
             {/submitLabel}
         </form>
     </template>
 </profile-form>
