<checkout-bag>
  <template>
    <bag-container class="checkout">
        <bag-list>
            <header>
                <div><h5>Item</h5></div>
                <div><h5>Qty</h5></div>
                <div><h5>Price</h5></div>
                <div><h5>Subtotal</h5></div>
            </header>
            {#items}
                <bag-item>
                    <div>
                        <thumb-image>
                            <img src="{imgUrl}">
                        </thumb-image>
                        <div class="item-descriptions">
                            <a>{name|s}</a>
                            <p class="sku">{sku}</p>
                            {#descriptions}
                                <p class="hide-for-phone">
                                    <b>{label}: </b>{text|s}
                                </p>
                            {/descriptions}
                        </div>
                    </div>
                    <div><span>{quantity}</span></div>
                    <div><span class="price">{@formatCurrency value="{price}" /}</span></div>
                    <div><span class="price">{@formatCurrency value="{subtotal}" /}</span></div>
                    <phone-display>
                        <label>Qty:</label>
                        <span>{quantity}</span>
                        <label>Price:</label>
                        <span>{@formatCurrency value="{price}" /}</span>
                        <label>Subtotal:</label>
                        <span>{@formatCurrency value="{subtotal}" /}</span>
                    </phone-display>
                </bag-item>
            {/items}
        </bag-list>
        <bag-summary>
            <bag-totals>
                <div class="item-total">
                    <div class="label">Subtotal</div>
                    <div class="amount"><span data-bind="text:subtotal:formatCurrency">{@formatCurrency value="{subtotal}" /}</span></div>
                </div>
                <div class="item-total">
                    <div class="label">Discount</div>
                    <div class="amount"><span data-bind="text:discount:formatCurrency">{@formatCurrency value="{discount}" /}</span></div>
                </div>
                <div class="item-total">
                    <div class="label">Shipping</div>
                    <div class="amount"><span data-bind="text:shipping:formatCurrency">{@formatCurrency value="{shipping}" /}</span></div>
                </div>
                <div class="item-total">
                    <div class="label">Tax</div>
                    <div class="amount"><span data-bind="text:tax:formatCurrency">{@formatCurrency value="{tax}" /}</span></div>
                </div>
                <div class="item-total">
                    <div class="label">Total</div>
                    <div class="amount"><span data-bind="text:total:formatCurrency">{@formatCurrency value="{total}" /}</span></div>
                </div>
            </bag-totals>
            <bag-actions>
                <button class="ui-button secondary large">PLACE ORDER</button>
            </bag-actions>
        </bag-summary>
    </bag-container>
  </template>
</checkout-bag>