<script src="order-review.js"></script>
<link rel="import" property="elements" href="../icon-elements/checkout-section-icon.html">
<order-review>
    <template>
        <button class="ui-button secondary large" data-role="screen-button">PLACE ORDER</button>
        <checkout-section-icon header="Order Review" step="6"></checkout-section-icon>
        <p class="intro">Press the 'Place Order' button to place your order.</p>
        <form name="checkout-bag" class="full-width hidden">
            <checkout-bag html5-imported="true"></checkout-bag>
        </form>
    </template>
</order-review>