<script src="ui-signup-form.js"></script>
<link rel="import" href="../../state-select/state-select.html" property="elliptical" />
 <ui-signup-form>
     <template>
         <form method="POST" action="##action##" id="elliptical-signup-form">
             <input type="text" name="firstName" data-bind="value:firstName" id="firstName" class="{firstName_error}"
                    placeholder='{@placeholder value="{firstName_placeholder}" defaultValue="First Name" /}' value="{firstName}">
            
             <input type="text" name="lastName" data-bind="value:lastName" id="lastName" class="{lastName_error}"
                    placeholder='{@placeholder value="{lastName_placeholder}" defaultValue="Last Name" /}' value="{lastName}">

             <input type="text" name="email" data-bind="value:email" id="email" class="{email_error}"
                    placeholder='{@placeholder value="{email_placeholder}" defaultValue="Email" /}' value="{email}">

             <input type="password" name="password" data-bind="value:password" id="password" class="{password_error}"
                    placeholder='{@placeholder value="{password_placeholder}" defaultValue="Password" /}' value="{password}">

             <input type="text" name="address" data-bind="value:address" id="address" class="{address_error}"
                    placeholder='{@placeholder value="{address_placeholder}" defaultValue="Address" /}' value="{address}">

             <input type="text" name="city" data-bind="value:city" id="city" class="{city_error}"
                    placeholder='{@placeholder value="{city_placeholder}" defaultValue="City" /}' value="{city}">

             <state-select field="state" html5-imported="true" class="{state_error}" id="state"></state-select>
             <input type="hidden" name="state" data-bind="value:state">

             <input type="text" name="zipCode" data-bind="value:zipCode" id="zipCode" class="{zipCode_error}"
                    placeholder='{@placeholder value="{zipCode_placeholder}" defaultValue="Zip Code" /}' value="{zipCode}">

             <input type="text" name="phone" data-bind="value:phone" id="phone" class="{phone_error}"
                    placeholder='{@placeholder value="{phone_placeholder}" defaultValue="Telephone" /}' value="{phone}">


             <ui-flex-container class="full-width">
                 <button class="ui-button secondary large margin">Sign Up</button>
             </ui-flex-container>
             {#submitLabel}
             <label class="ui-semantic-label {css} {cssDisplay}">{message|s}&nbsp;</label>
             {/submitLabel}
         </form>
     </template>
 </ui-signup-form>
