<script src="ui-refine.js"></script>
<script src="refine-filters.js"></script>
<ui-refine parse-template>
    <template>
        <refine-label>##label##</refine-label>
        <refine-button></refine-button>
    </template>
</ui-refine>
<refine-filters>
  <template>
      <ui-tip></ui-tip>
      <filters-container>
          <ui-template id="fragment-refine">
            {#refineModel}
              <refine-summary>
                  <summary-item>YOUR CURRENT FILTERS</summary-item>
                  {#summary}
                    <summary-item class="selection" filter-type="{column}" filter-value="{filter}">
                        <b>{label}</b>: {filter}
                    </summary-item>
                  {/summary}
                  <summary-item actions>
                      <button {btnClass} data-filter-button>FILTER RESULTS</button>
                      <button data-show-all {btnClass}>SHOW ALL</button>
                  </summary-item>
              </refine-summary>
              {#columns}
              <selection-filters filter="{column}" class="{cssClass}" index="{$idx}">
                  <filter-item>{label}</filter-item>
                  {#filters}
                  <filter-item><a class="{selected}">{filter}</a></filter-item>
                  {/filters}
              </selection-filters>
              {/columns}
            {/refineModel}
          </ui-template>
      </filters-container>
  </template>
</refine-filters>