<script src="ui-pagination.js"></script>
<ui-pagination>
  <template>
  <ui-template id="pagination-fragment-template">
    {#pagination}
        <div class="page-info">
            Page <span class="page-no">{page}</span> of <span class="page-count">{pageCount}</span>
        </div>
        <ul class="right">
            <li class="{prevClass}">
               {^button}
                   <a href="{prevPage}">prev</a>
               {/button}
               {?button}
                   <button class="ui-button" data-page="{page}" data-delegate="click" data-channel="{channel}" data-event="prev.page" data-page-url="{prevPage}">prev</button>
               {/button}
            </li>
            {#pages}
                <li data-mobile class="{activePage}">
                    {^button}
                        <a href="{pageUrl}" class="{activePage}">{page}</a>
                    {/button}
                    {?button}
                        <button data-page="{page}" data-page-url="{pageUrl}" data-delegate="click" class="ui-button {activePage}" {^activePage}data-channel="{channel}"{/activePage} {^activePage}data-event="page"{/activePage}>{page}</button>
                    {/button}
                </li>
            {/pages}
            <li class="{nextClass}">
                {^button}
                    <a data-role="ui-pager" href="{nextPage}">next</a>
                {/button}
                {?button}
                    <button class="ui-button" data-page="{page}" data-delegate="click" data-channel="{channel}" data-event="next.page" data-page-url="{nextPage}">next</button>
                {/button}
            </li>
        </ul>
    {/pagination}

      </ui-template>
  </template>
</ui-pagination>