<grid-row>
    <grid-columns class="default-12">
        {#billingAddress}
        <h4> Hello, {firstName} {lastName}</h4>
        {/billingAddress}
        <p></p><p></p>
        {#salesItem}
        Thank you for your order from {domain}.
        <p>
        You can check the status of your order by logging into your account. If you have any questions about your order please contact us at {email}. Our normal business hours are {businessHours|s}.
        </p>
        <p></p><p></p>
        {/salesItem}
        <p>
        {#paymentItem}
            Your order confirmation is below. Thank you again for your business. Your Order Id: #{orderId} (placed on {orderDate} )
        {/paymentItem}
        </p>
        <p></p><p></p>
        <table class="ui-table {cssClass} order-table-info">
            <thead>
             <tr>
              <th>Payment Information</th>
             </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {#creditCardItem}
                        {id}<br />
                        {expMonth} / {expYear}
                        {/creditCardItem}
                        <br />
                        {#paymentItem}
                         Auth Code: {authCode}<br />
                         TransactionId: {transactionId}<br />
                         Payment Amount:${@formatCurrency value="{paymentAmount}" /}
                        {/paymentItem}
                    </td>
                </tr>
            </tbody>
        </table>
        <p></p><p></p>
        <table class="ui-table {cssClass} order-table-info">
            <thead>
              <tr>
                <th>Billing Information</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {#billingAddress}
                          {firstName} {lastName}<br />
                          {street} <br />
                          {city} {state} {zip}<br />
                          {phone}
                        {/billingAddress}
                    </td>
                </tr>
            </tbody>
        </table>
        <p></p><p></p>
        <table class="ui-table {cssClass} order-table-info">
            <thead>
            <tr>
              <th>Shipping Information</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                       {#shippingAddress}
                        {firstName} {lastName}<br />
                        {street} <br />
                        {city} {state} {zip}<br />
                        {phone}
                       {/shippingAddress}
                       <br /><br />
                        <b>Shipping Method</b><br />
                        {#shippingItem}
                         {id} ${price}
                        {/shippingItem}
                    </td>
                </tr>
            </tbody>
        </table>
        <p></p><p></p>
        <table class="ui-table {cssClass} order-table-items">
            <thead>
                <tr>
                   <th>Item</th>
                   <th>Qty</th>
                   <th>Price</th>
                   <th>Subtotal</th>
                 </tr>
            </thead>
            <tbody>
                {#shoppingBag}
                {#items}
                <tr>
                    <td>
                        <div class="item-descriptions">
                            <a>{name|s}</a>
                            <p class="sku">{sku}</p>
                            {#descriptions}
                            <p>
                                <b>{label}: </b>{text|s}
                            </p>
                            {/descriptions}
                        </div>
                    </td>
                    <td>
                        {quantity}
                    </td>
                    <td>
                        ${@formatCurrency value="{price}" /}
                    </td>
                    <td>
                        ${@formatCurrency value="{subtotal}" /}
                    </td>
                </tr>
                {/items}
                {/shoppingBag}
            </tbody>
        </table>
        <p></p><p></p>
    </grid-columns>
</grid-row>
