<script src="ui-input-number.js"></script>
<ui-input-number parse-template>
    <template>
        <label for="##ea-id##" data-min="##min##">
            ##label##
            <input class="input-number-box" type="text" name="##ea-id##" id="##ea-id##" value="##value##" readonly=true>
            <div class="input-number">
                <div class="plus" tabindex="##tab-index##"></div>
                <div class="minus" tabindex="##tab-index##"></div>
            </div>
        </label>
    </template>
</ui-input-number>
