<ui-window class="{@placeholder value="{cssClass}" defaultValue="null" /}" modal="{@placeholder value="{modal}" defaultValue="false" /}" animation-in="{@placeholder value="{animationIn}" defaultValue="slideInDown" /}"
    animation-out="{@placeholder value="{animationOut}" defaultValue="none" /}" top="{@placeholder value="{top}" defaultValue="null" /}"  left="{@placeholder value="{left}" defaultValue="null" /}"
        width="{@placeholder value="{width}" defaultValue="null" /}" height="{@placeholder value="{height}" defaultValue="null" /}" opacity-css="{@placeholder value="{opacityCss}" defaultValue="null" /}">
    {#model}
        <header>
            <div class="close {disable}"  aria-hidden="true">
                <span aria-hidden="true" class="icon-close-2"></span>
            </div>
            <h3>{title}</h3>
        </header>
        <section>
            {>"{partial}" /}
        </section>
        <footer>
            <button  class="ui-button {buttonSize} {disable}" data-cancel>Cancel</button>
            <button class="ui-button {buttonClass}  {buttonSize} {actionDisable}" data-role="{buttonRole}" data-action="{buttonRole}">{buttonLabel}</button>
        </footer>
    {/model}
</ui-window>