<script src="order-failure.js"></script>
<order-failure>
    <template>
        <ui-template id="fragment-order-failure">
            {#paymentItem}
            <ui-flex-container class="top space-between summary-info">
                <h3 class="header-summary">Order Result</h3>
                <div class="track-button">
                    <button class="ui-button inverse track-button">Resubmit Order</button>
                </div>
            </ui-flex-container>
            <p></p>
            <p><b>We're sorry, there was a problem processing your order.</b></p>
            <p></p>
            <p><b>Gateway Error Message:</b></p>
            <p>{failureReason}</p>
            <p></p><p></p>
            <p>Press the "Resubmit Order" button above to resubmit this order.</p>
            {/paymentItem}
        </ui-template>
    </template>
</order-failure>