<script src="password-form.js"></script>
<password-form>
    <template>
        <form method="POST" action="" id="account-password-form">
            <input type="hidden" name="id" value="{id}" />

            <input type="password" name="password" data-bind="value:password" id="password" class="{password_error}"
                   placeholder="{@placeholder value="{password_placeholder}" defaultValue="Password" /}">

            <input type="password" name="confirmPassword" data-bind="value:confirmPassword" id="confirmPassword" class="{confirmPassword_error}"
                   placeholder="{@placeholder value="{confirmPassword_placeholder}" defaultValue="Confirm Password" /}">

            <ui-flex-container class="full-width">
                <button class="ui-button secondary large margin">Save New Password</button>
            </ui-flex-container>
            {#submitLabel}
            <label class="ui-semantic-label {css} {cssDisplay}">{message}&nbsp;</label>
            {/submitLabel}
        </form>
    </template>
</password-form>