<script src="ui-login-form.js"></script>
 <ui-login-form>
     <template>
         <form method="POST" action="" id="elliptical-login-form">
             <label>Email:</label>
             <input type="text" name="email" data-bind="value:email" id="email" class="{email_error}"
                    placeholder='{@placeholder value="{email_placeholder}" defaultValue="Email" /}' value="{email}">
             <label>Password</label>
             <input type="password" name="password" data-bind="value:password" id="password" class="{password_error}"
                    placeholder='{@placeholder value="{password_placeholder}" defaultValue="Password" /}' value="{password}">
             <div class="margin-top">
                 <ui-checkbox>
                     <input type="checkbox" id="rememberMe" name="rememberMe" value="{rememberMe}" data-bind="checked:rememberMe">
                     <label for="rememberMe">Remember Me?</label>
                 </ui-checkbox>
             </div>
             <div class="ui-flex-container">
                 <button class="ui-button large margin secondary">Sign In</button>
             </div>
             {#submitLabel}
             <label class="ui-semantic-label {css} {cssDisplay}">{message}&nbsp;</label>
             {/submitLabel}
         </form>
     </template>
 </ui-login-form>
