<script src="shipping-method.js"></script>
<link rel="import" property="elements" href="../icon-elements/checkout-section-icon.html">
<shipping-method>
    <template>
        <button class="ui-button secondary next" data-role="screen-button">continue</button>
        <checkout-section-icon header="Shipping Method" step="3"></checkout-section-icon>
        <p class="intro">Select a shipping method.</p>
        <form id="fragment-shipping-method" class="hidden">
            <ui-flex-list>
                {#shippingMethod}
                    <li>
                       <ui-radio>
                           <input type="radio" id="{id}" name="shippingMethod" value="{id}" data-bind="checked:{id}" required>
                           <label for="{id}">{name} &nbsp;&nbsp;<span>{altPriceText}</span></label>
                       </ui-radio>
                        <p class="shipping-description">
                            {description}
                        </p>
                    </li>
                {/shippingMethod}
            </ui-flex-list>
            <button class="ui-button secondary next" data-role="form-button">continue</button>
        </form>
    </template>
</shipping-method>