<script src="email-form.js"></script>
<email-form>
    <template>
        <form method="POST" action="" id="account-email-form">
            <input type="hidden" name="id" value="{id}" />

            <input type="text" name="email" data-bind="value:email" id="email" class="touch-full {email_error}"
                   placeholder="{@placeholder value="{email_placeholder}" defaultValue="Email" /}" value="{email}">

            <ui-flex-container class="full-width">
                <button class="ui-button secondary large margin">Save</button>
            </ui-flex-container>
            {#submitLabel}
            <label class="ui-semantic-label {css} {cssDisplay}">{message}&nbsp;</label>
            {/submitLabel}
        </form>
    </template>
</email-form>