


@mixin _ui-account(){
    h3{
        &.account-header{
            margin-top:-1em;
            margin-bottom:.2em;
            color:$secondary-color;
        }
    }
    tab-item{
        min-width:200px;
    }
    .social-row-height{
        min-height:70px;
    }
    .social-label{
        min-width:150px;
    }
    p.sub-heading{
        margin-bottom:1.5em;
    }
    .social-button-container{
        margin-bottom:1em;
    }
    form{
        &.social-button-form{
            margin:0 0 1em .5em;
        }
    }
    
    form{
       @include flexbox($justification:space-between);
       @include flex-wrap(wrap);
       input[type=text],input[type=password],ui-select,state-select{
           width:40%;
           max-width:40%;
           &.third{
               width:30%;
               max-width:30%;
           }
       }
        textarea{
          width:65%;
          min-height:200px;
       }
    }
    .single-column{
        form{
           max-width:500px;
           @include media-breakpoint(600px){
               max-width:100%;
           }
           input[type=text],input[type=password],ui-select,state-select{
           width:100%;
           max-width:100%;
              &.third{
                width:100%;
                max-width:100%;
              }
           }
           textarea{
             width:100%;
           }
        }
    }
    shipping-addresses{
        ui-flex-list{
            &>li{
                padding:1em;
                margin:.5em 0 .5em 0;
                border-radius:5px;
                width:400px;
                &:nth-child(odd){
                    background:#f2f2f2;
                }
                @include touch-content(){
                    width:100%;
                }
            }
        }
    }
    
    @include phone-content(){
        tabbed-content{
            min-height:0;
            height:auto;
            &.border{
                border-top:1px solid #ddd !important;
            }
            tab-content{
            padding:1em 0 1em 0;
            &.active{
               min-height:0;
               height:auto;
            }
            
          }
        }
        
    }
    @include media-breakpoint(700px){
        tab-content{
            form{
                 input[type=text],input[type=password],ui-select,state-select,textarea{
                   width:100% ;
                   max-width:100%;
                   &.third{
                    width:100%;
                    max-width:100%;
                   }
                }
                ui-select,state-select{
                    margin-bottom:1em;
                }
            }
        }
    }
    
   
}

@mixin ui-account(){
    [app=account]{
        @include _ui-account();
        @content;
    }
    .profile-email-label{
        width:100%;
        margin-bottom:1em;
        font-size:20px;
        color:$primary-color;
     }
    .account-icon-container{
        margin-top:20px;
        visibility:hidden;
       .account-icon{
          color:#ffac33;
          font-size:64px;
       }
       .profile-name{
           font-size:16px;
       }
       @include phone-content(){
           .account-icon{
               font-size:16px;
           }
           .profile-name{
               display:none;
           }
       }
    }
    
}

