

@mixin _ui-bag(
$bag-header-background:null,
$bag-header-font-color:null,
$bag-header-margin:null,
$bag-header-padding:null,
$bag-header-height:null,
$bag-border-radius:null,
$bag-border:null,
$bag-background:null,
$bag-list-width:null,
$bag-list-header-padding:null,
$bag-list-header-color:null,
$bag-list-header-margin:null,
$bag-list-header-font-size:null,
$bag-list-thumb-margin:null,
$bag-list-thumb-width:null,
$bag-list-thumb-height:null,
$bag-list-thumb-border:null,
$bag-list-input-box-shadow:null,
$bag-list-sku-color:null,
$bag-list-footer-button-background:null,
$bag-list-footer-button-color:null,
$bag-list-footer-button-border-radius:null,
$bag-coupon-input-box-shadow:null,
$bag-remove-icon:null,
$bag-remove-font-size:null,
$bag-remove-color:null,
$bag-remove-icon-color:null,
$bag-remove-font-weight:null
){
   
    .bag-header{
      background:$bag-header-background;
      h4,h5{
        color:$bag-header-font-color;
      }
      margin:$bag-header-margin;
      padding:$bag-header-padding;
      border-radius:$bag-border-radius;
    }
    @include touch-content(){
      padding-left:2em;
      padding-right:2em;
    }
    @include media-breakpoint(600px){
      padding-left:0;
      padding-right:0;
     
    }

    bag-container,ui-template.order{
      @include flexbox($justification:space-between,$alignment:flex-start);

         @include touch-content(){
             @include flexbox-column($justification:flex-start,$alignment:flex-start);

              &>*{
                width:100% !important;
                margin-bottom:1em;
             }
         }

      &.checkout,&.order{
        @include flexbox-column($justification:flex-start,$alignment:flex-start);
        @include touch-content(){
          &>*{
            margin-bottom:0;
          }
        }
        bag-list{
          width:100%;
          header{
            &>div{
              width:14%;

              @include flexbox($justification:flex-start,$alignment:center);
              &:first-child{
                width:58%;
                border-left:0;
              }
            }
          }
          bag-item{
            &>div{
              width:14%;
              &:first-child{
                width:58%;
              }
            }
          }
        }
        bag-summary{
          width:100%;
          bag-totals{
            &>.item-total{
              &:first-child{
                border-top:0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
              }
              &>div{
                width:14%;

                  @include media-breakpoint(600px){
                    width:50%;
                  }

                &:first-child{
                  width:86%;
                  border-right:1px solid transparent;

                  @include media-breakpoint(600px){
                    width:50%;
                  }
                }
                &:last-child{
                  border-left:$bag-border;
                }
              }
            }
          }
        }
      }
      bag-list{
        line-height:1.25;
        width:$bag-list-width;
        display:block;
        header{
          @include flexbox($justification:flex-start,$alignment:center);
          h4,h5,h6{
            font-size:1em;
            padding-left:.5em;
            color:$bag-list-header-color;
          }
          height:$bag-header-height;
          background:$bag-background;
          border:$bag-border;
          margin:$bag-list-header-margin;
          border-radius:$bag-border-radius;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          &>div{
            width:16%;
            border-left:1px solid #ccc;
            height:100%;
            &:not(:first-child){
              flex:1;
            }
            @include flexbox($justification:flex-start,$alignment:center);
            &:first-child{
              width:48%;
              border-left:0;
            }
          }
          @include phone-content(){
            display:none;
          }
        }

        bag-item{
          display:flex;
          display:-webkit-flex;
          border-left:$bag-border;
          border-right:$bag-border;
          border-bottom:$bag-border;
          
          @include phone-content(){
            padding-top:1.5em;
            @include flexbox($justification:flex-start,$alignment:flex-start);
            @include flex-wrap(wrap);
            width:100%;
            &:first-of-type{
              border-top:$bag-border !important;
              border-top-right-radius: $bag-border-radius;
              border-top-left-radius: $bag-border-radius;
            }
          }
          .item-descriptions{
              
          }
          &>div{
            width:16%;
            padding:1em 0 1em 0;
            border-left:$bag-border;
            &:not(:first-child){
              flex:1;
            }
            @include phone-content(){
              &:not(:first-child){
                display:none;
              }
            }
            span{
                padding-left:.5em;
                padding-top:.5em;
              &.price{
                padding-left:.5em;
                padding-top:.5em;
                &:before{
                    content:'$';
                }
              }
            }
            &:first-child{
              @include flexbox($justification:flex-start,$alignment:flex-start);
              border-left:0;
              width:48%;
              font-size:14px;
              thumb-image{
                margin:$bag-list-thumb-margin;
                max-width:$bag-list-thumb-width;
                max-height:$bag-list-thumb-height;
                overflow:hidden;
                border:$bag-list-thumb-border;
                display:block;
              }
              a{
                font-size:14px;
                text-decoration: underline;
                &:hover{
                    color:$primary-color;
                }
              }
              div{
                width:100%;

              }
              .sku{
                color:$bag-list-sku-color;
              }
              p{
                  margin:.2em 0 .2em 0;
              }
              phone-display{
                display:none;

              }
              @include phone-content(){
                width:100%;
              }
            }
            input{
              max-width:3.5em;
              padding:.3em !important;
              margin-left:.5em !important;
              box-shadow:$bag-list-input-box-shadow;
            }
          }
          phone-display{
            display:none;
            @include phone-content(){
              width:75%;
              margin:2em 0 2em 1em;
              @include flexbox($justification:flex-start,$alignment:flex-start);
              @include flex-wrap(wrap);
              &>*{
                width:45%;
                max-width:45% !important;
                margin-bottom:.5em;
              }
              &>input{
                box-shadow:$bag-list-input-box-shadow;
              }
              .bag-remove{
                display:inherit;
              }

            }
          }
          .bag-add{
             color: darken(#ddd,5%);
             margin-right:2em;
             margin-top:0;
             font-size:22px;
             &:hover{
               color:$secondary-color !important; 
               cursor:pointer;
            }
            &:after{
                font-family:$global-font-family;
                content:'Add';
                font-size:12px;
                margin-left:.3em;
                font-weight:bold !important;
                &:after{
                   color:$secondary-color;
                }
            }
            @include touch-content(){
                margin-left:0;
                padding-left:0;
                display:block;
                margin:.5em 0 .5em 0;
                width:70px;
            }
           }
           .icon-container{
                @include flexbox($justification:space-between);
                @include touch-content(){
                    display:block !important;
                }
           }
          .bag-remove {
            background: transparent;
            font-size: $bag-remove-font-size !important;
            border: 0;
            position: relative;
            margin: 1em 0 1em .5em;
            color: $bag-remove-color;
            display: block;
            padding-left: 5px;
            font-weight:$bag-remove-font-weight;
            text-decoration:none !important;
            max-width:80px;
            &:hover {
              cursor: pointer;
              color:$primary-color;
              &:before{
                  color:$primary-color;
              }
            }
            &:before {
              font-family:$global-icon-font-family;
              content: $bag-remove-icon;
              position: absolute;
              color: $bag-remove-icon-color;
              font-size: 12px;
              top: 0px;
              left: -10px;
            }
            

            @include phone-content(){
              font-size: 16px !important;
              padding-left:10px;//
              &:before{
                  font-size:16px;
              }
            }

          }
        }
        footer{
          padding:$bag-list-header-padding;
          @include flexbox($justification:flex-end,$alignment:flex-start);
          background:$bag-background;
          border:$bag-border;
          border-radius:$bag-border-radius;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          border-top:0;
          button{
            background:$bag-list-footer-button-background;
            color:$bag-list-footer-button-color;
            border-radius:$bag-list-footer-button-border-radius;
            padding: 5px 7px 5px 7px;
            text-align: center;
            border: 0;
            font-size:12px;
            cursor:pointer;
          }
        }
      }
      bag-summary{
        width:30%;
        &>*{
          margin-bottom:1em;
        }
        bag-coupon{
          border:$bag-border;
          padding:1.5em;
          display:block;
          border-radius:$bag-border-radius;
          input{
            box-shadow:$bag-coupon-input-box-shadow;
          }
        }
        bag-totals{
          display:block;
          &>.item-total{
            @include flexbox($justification:flex-start,$alignment:center);
            border:$bag-border;
            border-top:0;
            .amount{
                position:relative;
                padding-left:5px;
                &:before{
                    
                    content:'$';
                }
                &:empty{
                    &:before{
                        content:'';
                    }
                }
            }
            &>div{
              width:50%;
              @include flexbox($justification:flex-start,$alignment:center);
              @include touch-content(){
                @include flexbox($justification:flex-end,$alignment:center);
                padding-right:1em;
                padding-left:1em;
              }
              height:2.5em;
              padding-left:.5em;
              &:first-child{
                padding-right:.5em;
                @include flexbox($justification:flex-end,$alignment:center);
                border-right:$bag-border;

              }
            }
            &:first-child{
              border-top-right-radius: $bag-border-radius;
              border-top-left-radius: $bag-border-radius;
              border-top:$bag-border;
            }
            &:last-child{
              border-bottom-right-radius: $bag-border-radius;
              border-bottom-left-radius: $bag-border-radius;
              background:$bag-background;
            }
          }
        }
        bag-actions{
          display:block;
          @include touch-content(){
            padding-left:25%;
            padding-right:25%;
            margin-top:2em;
            button{
              font-size:24px !important;
            }
          }
          @include media-breakpoint(600px){
            padding-left:10%;
            padding-right:10%;
          }
        }
      }
      bag-notes{
          display:block;
          margin:1em 0 1em 0;
          width:100%;
      }
      bag-payment{
          display:block;
          width:100%;
          margin:1em 0 1em 0;
      }
      bag-shipping{
          display:block;
          width:100%;
          margin:1em 0 1em 0;
      }
      .order-badge{
          border-radius:5px;
          padding:1em;
          min-height:100px;
          background:#f7f7f7;
          &.warning{
              @include invoke-component-default-state(warning);
          }
          &.error{
              @include invoke-component-default-state(error);
          }
      }
    }
}

@mixin _product-bag(
$top:null,
$left:null,
$background:null,
$border:null,
$font-size:null,
$box-shadow:null,
$width:null,
$height:null,
$bag-item-width:null,
$bag-message-color:null,
$thumb-width:null,
$thumb-height:null,
$thumb-border:null,
$sku-color:null,
$touch-background:null,
$touch-color:null
){
    position: fixed;
    top: $top;
    left: $left;
    display:none;
    width:$width;
    min-height:$height;
    font-size:$font-size;
    box-shadow:$box-shadow;
    background:$background;
    border:$border;
    z-index:9999999;
    padding:16px;
    line-height:1;
    @include touch-content(){
        top:45%;
        left:45%;
        width:100px;
        height:100px;
        min-height:100px;
        background:$touch-background;
        opacity:.85;
        box-shadow:none;
    }
    &.show{
        display:block;
    }
    ui-template{
        width:100%;
        min-height:$height;
        @include flexbox-column($justification:space-between,$alignment:flex-start);
        .icon-close{
            margin-left: auto;
            color: #ddd;
            margin-bottom: 1em;
            margin-top: -.75em;
            &:hover{
                color:$secondary-color;
                cursor:pointer;
            }
        }
        bag-list{
            display:block;
            hr{
                margin:.5em 0 .75em 0;
            }
            bag-item{
                @include flexbox($justification:flex-start,$alignment:flex-start);
                width:$bag-item-width;
                thumb-image{
                     max-width:$thumb-width;
                     max-height:$thumb-height;
                     height:auto;
                     overflow:hidden;
                     border:$thumb-border;
                     display:block;
                     margin-right:8px;
                     img{
                         width:100%;
                         height:auto;
                     }
                }
                .item-descriptions{
                    a{
                        font-size:$font-size;
                        font-weight:bold;
                    }
                    width:65%;
                    max-width:260px;
                    p{
                        margin:.1em 0 .1em 0;
                    }
                    .sku{
                        color:$sku-color;
                    }
                    @include flex-grow(2);
                }
                .price-column{
                    width:18%;
                    .price{
                        font-weight:bold;
                        &.quantity{
                            color:$sku-color;
                        }
                        display:inline;
                    }
                }
            }
        }
        .bag-message{
            margin: 2em 0 1em 3em;
            font-size: 1.7em;
            //color:$bag-message-color;
            @include invoke-component-default-state(success);
            padding:.2em .5em;
            border-radius:$global-radius;
        }
        bag-summary{
            @include flexbox($justification:space-between,$alignment:center);
            width:100%;
            margin-top:auto;
        }
        @include touch-content(){
            display:none;
        }
    }
    touch-template{
        @include touch-content(){
            @include flexbox-column($justification:center,$alignment:center);
            span{
                color:$touch-color;
                &.label{
                    font-size:12px !important;
                    padding-top:1em;
                    text-align:center;
                }
            }
            @include span-icon(){
               font-size:32px;
            }
        }
    }
}


@mixin ui-bag($primary-tag:null,$tags:null,$template-tag:null,$component-class:null,$class:null,
$bag-header-background:$primary-color,
$bag-header-font-color:$white,
$bag-header-margin:0 0 2em 0,
$bag-header-padding:.2em,
$bag-header-height:40px,
$bag-border-radius:$global-radius,
$bag-border:1px solid #ccc,
$bag-background:#f9f9f9,
$bag-list-width:65%,
$bag-list-header-padding:.5em,
$bag-list-header-color:inherit,
$bag-list-header-margin:0,
$bag-list-header-font-size:1em,
$bag-list-thumb-margin:0 .75em,
$bag-list-thumb-width:80px,
$bag-list-thumb-height:80px,
$bag-list-thumb-border:1px solid #ccc,
$bag-list-input-box-shadow:none,
$bag-list-sku-color:$primary-color,
$bag-list-footer-button-background:#b8b8b8,
$bag-list-footer-button-color:$white,
$bag-list-footer-button-border-radius:3px,
$bag-coupon-input-box-shadow:#f4f4f4 0 0 0 4px,
$bag-remove-icon:'\e0db',
$bag-remove-font-size:12px,
$bag-remove-color:darken(#c8c8c8, 10%),
$bag-remove-icon-color:#c8c8c8,
$bag-remove-font-weight:bold
){

  $_component-class:'.ui-bag';
  $_primary-tag:ui-bag;
  @if $component-custom-tags==true and $component-class ==null{
    $_component-class:null;
  }
  @if $primary-tag !=null{
    $_primary-tag:$primary-tag;
  }

  @include element-tag($primary-tag:$_primary-tag,$tags:$tags,$template-tag:$template-tag,$component-class:$_component-class,$class:$class){
    @include _ui-bag($bag-header-background,
    $bag-header-font-color,
    $bag-header-margin,
    $bag-header-padding,
    $bag-header-height,
    $bag-border-radius,
    $bag-border,
    $bag-background,
    $bag-list-width,
    $bag-list-header-padding,
    $bag-list-header-color,
    $bag-list-header-margin,
    $bag-list-header-font-size,
    $bag-list-thumb-margin,
    $bag-list-thumb-width,
    $bag-list-thumb-height,
    $bag-list-thumb-border,
    $bag-list-input-box-shadow,
    $bag-list-sku-color,
    $bag-list-footer-button-background,
    $bag-list-footer-button-color,
    $bag-list-footer-button-border-radius,
    $bag-coupon-input-box-shadow,
    $bag-remove-icon,
    $bag-remove-font-size,
    $bag-remove-color,
    $bag-remove-icon-color,
    $bag-remove-font-weight
    );

    @content;
  }
}

@mixin product-bag($primary-tag:null,$tags:null,$template-tag:null,$component-class:null,$class:null,
$top:50px,
$left:55%,
$background:#fcfcfc,
$border:1px solid #ccc,
$font-size:12px,
$box-shadow:0 5px 9px rgba(0, 0, 0, 0.3),
$width:430px,
$height:415px,
$bag-item-width:400px,
$bag-message-color:$primarycolor,
$thumb-width:50px,
$thumb-height:90px,
$thumb-border:1px solid #ccc,
$sku-color:$primary-color,
$touch-background:#000,
$touch-color:#fff
){
   
    $_primary-tag:product-bag;
    @if $primary-tag !=null{
      $_primary-tag:$primary-tag;
    }
    @include element-tag($primary-tag:$_primary-tag,$tags:$tags,$template-tag:$template-tag,$component-class:$component-class,$class:$class){
        @include _product-bag($top,$left,$background,$border,$font-size,$box-shadow,$width,$height,$bag-item-width,$bag-message-color,$thumb-width,$thumb-height,$thumb-border,$sku-color,$touch-background,$touch-color);
        @content;
    }
}