@include component($component:css-checkout,
$background:#b8bbb8,
$background-hover:$secondary-color,
$border:0,
$border-hover:0
);

@include component($component:ci-paypal,
$background:#009cde,
$border:1px solid #009cde,
$font-color:$white
);

 @include ui-button(ci-paypal);
    .ci-paypal{
        margin:3em 0 5em 0 !important;
    }

@mixin _ui-checkout($button-component:null){
  font-size:16px;
  display:block;
  @include ui-flex-label();

  @include media-breakpoint(600px){
    @include gutter-bleed();
  }

  @include ui-button($button-component);
  .ui-button{
    &.checkout{
      @extend .#{$button-component} !optional;
      font-weight:normal;
      padding:.5em .7em;
      border:0 !important;
      font-size:12px;
      visibility: hidden;
      &.tiny{
        padding:.4em .6em;
      }
      &.visible{
        visibility: visible;
      }
    }
  }

  checkout-screen{
    @include flexbox($justification:center,$alignment:flex-start);
    checkout-progress{
      h5{
        font-size:1em;
        margin-bottom:2em;
      }
    }
    collapse-icon{
      @include flexbox($alignment:center, $justification:flex-start);
      h4{
        color:#ccc;
        font-size:32px;
        position:relative;
        padding:.2em 16px 0 0;
        span{
          position:absolute;
          font-size:20px;
          color:#fff;
          top:8px;
          left:10px;
        }
      }
      &.on{
        h4{
          color:$secondary-color;
        }
      }
    }
    checkout-section-icon{
      @include flexbox($alignment:top, $justification:flex-start);
      margin:0 0 2em 0;
      div{
        color:#ccc;
        font-size:32px;
        position:relative;
        padding:.2em 16px 0 0;
        margin-left:-.5em;
        @include touch-content(){
          margin-top:-.1em;
        }
        span{
          position:absolute;
          font-size:20px;
          color:#fff;
          top:8px;
          left:10px;
        }
      }
    }
    [data-role=screen-button]{
      position:absolute;
      right:0;
      top:-30px;
      @include media-breakpoint(600px){
        display:none;
      }
    }
    checkout-progress{
      display:block;
      @include touch-content(){
        display:none;
      }
      width:20%;
      padding:0 2em 0 0;

      /* ui-step-progress */
      @include ui-step-progress($component:ci-step-progress,$primary-tag:checkout-step-progress,$icon-component:ci-step-progress-icon,$complete-component:ci-step-progress-complete,
      $complete-icon-component:secondary,$current-font-weight:normal,$vertical-item-height:4em){
        step-item{
          &:first-of-type{
            height:7em;
          }
          &:nth-of-type(2){
            height:7em;
          }
        }
        progress-label{
          position:relative;
          label{
            &.pending{
              position:absolute;
              top:30px;
              left:20px;
              font-size:12px;
              font-family: "Helvetic Neue", Helvetica, Arial;
              font-style: italic;
              font-weight: normal;
            }
          }
          h6{
            font-size:14px;
            margin:-.5em 0 .25em 0;
            padding:0;
          }
          &>div{
            font-size:12px;
            min-width:150px;
            margin-top:.5em;
            visibility: hidden;
            p{
              line-height:1;
              color:#666;
              margin:.25em 0 .25em 0;
            }
          }
        }
      };
    }

    checkout-accordion{
      display:block;
      width:60%;
      @include touch-content(){
        width:100%;
      }
      input[type=text],textarea{
        box-shadow:#f4f4f4 0 0 0 4px;
        &.card-cc-number{
          max-width:150px;
        }
      }
      .text-order-notes{
        margin:1.5em 0 1.5em 0;
        height:200px;
        width:100%;
        font-size:14px;
      }
      .intro{
        margin:1.5em 0 1.5em 0;
      }

      /* ui-collapse */
      @include ui-collapse($component:ci-collapse,$header-component:ci-collapse-header,$section-component:ci-collapse-section,$font-size:16px,$width:750px,$item-section-padding:2em){
        @include touch-content(){
          width:100%;
        }
        form{
          max-width:400px;
          &.full-width{
            max-width:none;
          }
          @include media-breakpoint(600px){
            max-width:100%;
            @include order(2);
          }
        }

      };

      .section-element{
        display:block;
        position:relative;
        padding-bottom:1.5em 2em;
        .form-container{
          @include media-breakpoint(600px){
            @include flexbox-column($justification:flex-start,$alignment:flex-start);
          }
          .shipping-form{
            @include media-breakpoint(600px){
              @include order(2);
            }
          }
        }
        .select-shipping-addresses-header{
          font-weight:bold;
        }
        button{
          margin-top:2em;
        }

        aside{
          padding:2em 0 0 0;
          position:relative;
          @include media-breakpoint(600px){
            @include order(1);
            margin:-1em 0 1em 0;
          }
          h6{
            font-size:14px;
            margin:2em 0 2em 0;
          }
          .shipping-addresses{
            ui-model{
              position:relative;
              background:#f5f5f5;
              border:1px solid #ddd;
              border-radius:5px;
              padding:1.25em;
              margin-bottom:1.25em;
              font-size:12px;
              min-width:250px;
              .ui-button{
                &.checkout{
                  position:absolute;
                  top:5px;
                  right:5px;
                  visibility: visible;
                  font-size:10px;
                  font-weight:bold;
                }
              }
            }
          }
        }
        .section-header{
          margin:0 0 2em 0;
        }
        .payment-card-dates{
          div{
            width:50%;
            margin:0 1em 0 0;
            ui-select{
              min-width:100%;
            }
          }
        }
        .label-card-number{
          margin-top:1em;
        }
        .shipping-description{
          font-size:12px;
          padding:1em 0 0 1em;
        }
      }
    }
    state-select{
      margin-bottom:1.5em;
    }
  }
  processed-screen{
    display:block;
    &.show{
      display:block;
    }
    order-success{
      display:block;
      margin:0 0 2em 0;
      padding:0 0 2em 0;
      &.show{
        display:block;
      }
      @include media-breakpoint(600px){
          padding:0 .75em 2em .75em;
          .track-button{
              margin-botton:1em;
              margin-left:.4em;
          }
      }
      .summary-info{
        @include phone-content(){
          @include flexbox-column($justification:flex-start,$alignment:flex-start);
          .track-button{
            @include order(1);
          }
          .header-summary{
            @include order(2);
          }
        }
      }
      checkout-bag{
        width:80%;
        @include touch-content(){
          width:90%;
        }
        @include phone-content(){
          width:100%;
        }
      }
      bag-actions{
        display:none;
      }
      ui-flex-label{
        width:500px;
        @include touch-content(){
          width:90%;
          padding-top:1em;
        }
      }
      .address-info{
        margin:1.5em 0 1.5em 0;
        p{
          margin:0 0 .5em 0;
        }
        @include phone-content(){
          @include flexbox-column($justification:flex-start,$alignment:flex-start);
          &>div{
            margin-bottom:1em;
          }
        }
      }

    }
    order-failure{
      display:block;
      &.show{
        display:block;
      }
    }
  }
}

@mixin ui-checkout($primary-tag:null,$tags:null,$template-tag:null,$component-class:null,$class:null,
 $button-component:css-checkout
){
  $_component-class:'.ui-checkout';
  $_primary-tag:ui-checkout;
  @if $component-custom-tags==true and $component-class ==null{
    $_component-class:null;
  }
  @if $primary-tag !=null{
    $_primary-tag:$primary-tag;
  }

  @include element-tag($primary-tag:$_primary-tag,$tags:$tags,$template-tag:$template-tag,$component-class:$_component-class,$class:$class){
    @include _ui-checkout($button-component);
    @content;
  }

}



