

@mixin ui-masonry(
$column-width:300px,
$column-gap:20px,
$column-count:3,
$item-margin:1em 0 0 0,
$item-transition:.8s opacity,
$item-border-radius:5px
){
    .ui-masonry{
        position:relative;
        display:block;
        width:100%;
        @include column-width($column-width);
        @include column-gap($column-gap);
        @include column-count($column-count);
        overflow:hidden;
        &>*{
            margin:$item-margin;
            @include transition($item-transition);
            border-radius:$item-border-radius;
        }
        @content;
    }
}
