@include helpers-grid();
@include helpers-component();
@include helpers-hardware-acceleration();
@include helpers-touch();

@include touch-gutter-bleed();
@include touch-gutter-collapse();

touch-ui-drawer touch-ui-menu{
  min-height:102%;
}
[validation-summary]{
    ul{
        list-style:none;
    }
}

ui-form{
    display:block;
}

ui-radio input[type="radio"] {
  position: absolute;
}
p{
  width:100%;
}
p{
  &.form-section{
    margin-top:1em;
    margin-bottom:.5em;
  }
}

ui-radio-list{
    list-style:none;
    margin-bottom:1em;
    @include flexbox-column($justification:flex-start,$alignment:flex-start);
    li{
        margin:.35em 0;
        &:first-of-type{
            margin-top:.1em;
        }
    }
    &.wrap{
        @include media-breakpoint-min(800px){
            @include flexbox($justification:flex-start,$alignment:flex-start);
            @include flex-direction(row);
            @include flex-wrap(wrap);
            width:100%;
            li{
               margin:.25em .25em;
               &:first-of-type{
                  margin-left:0;
              }
           }
        }
    }
    &.error{
        ui-radio{
            input + label {
              color:$component-error-font-color;
              &:before{
                  border-color:lighten($component-error-font-color,20%) !important;
                  color:$component-error-font-color;
              }
            }
            input:checked + label {
              &:after {
                  color:$component-error-font-color;
              }
            }
        }
    }
}


alert-notification{
    display:none;
}


.primary{
    color:$component-primary-background;
    &:hover{
        color:darken($component-primary-background,10%);
       
    }
}

.secondary{
    color:$component-secondary-background;
    &:hover{
        color:darken($component-secondary-background,10%);
       
    }
}

.gray{
  color:$gray;
}

.medium-gray{
  color:$medium-gray;
}

.dark-gray{
  color:$dark-gray;
}

.light-gray{
  color:$light-gray;
}

.white{
  color:$white;
}

.black{
  color:$black;
}

/* ui-template */
ui-template{
  visibility: hidden;
}
[role=form],[action-submit=true]{
    &>form{
         visibility:hidden;
    }
}
touch-template{
    display:none;
}
empty-template{
    display:none;
    &.show{
        display:block;
    }
}
form{
  &.visible{
    visibility: visible !important;
  }
}

.auto-left{
  margin-right:auto;
}

.auto-right{
  margin-left:auto;
}

.auto-top{
  margin-bottom:auto;
}

.auto-bottom{
  margin-top:auto;
}

.show{
    display:inherit;
}

.ui-hide{
    display:none;
    visibility:visible;
}

.ui-relative{
    position:relative;
}

ui-container{
    position:relative;
}

.auto-width{
    width:auto;
    min-width:0;
}

.auto-height{
    height:auto;
}

.hr-margin-two{
    margin:2em 0 2em 0;
}

[data-upgraded=false]{
    visibility:hidden;
}

[data-upgraded=true]{
    visibility:visible;
}

[data-role=back]{
    margin-bottom:2em;
    margin-top:-1em;
}

.relative{
  position:relative;
}

.bordered-column{
    border-right:1px solid #ddd;
}

.lg-icon{
    font-size:64px;
    color:#666;
    margin-right:.1em;
    &.b{
        margin-right:.5em;
    }
}

flex-box.form-width{
    width:400px;
    max-width:100%;
}

.no-list-style{
  list-style: none;
}

@include touch-content(){
  .touch-margin-top{
    margin-top:1em;
    &.two{
      margin-top:2em;
    }
  }
  .touch-margin-bottom{
    margin-bottom:1em;
    &.two{
      margin-bottom:2em;
    }
  }
  .touch-margin-left{
    margin-left:1em;
    &.two{
      margin-left:2em;
    }
  }
  .touch-margin-right{
    margin-right:1em;
    &.two{
      margin-right:2em;
    }
  }
  .touch-padding-top{
    padding-top:1em;
    &.two{
      padding-top:2em;
    }
  }
  .touch-padding-bottom{
    padding-bottom:1em;
    &.two{
      padding-bottom:2em;
    }
  }
  .touch-padding-left{
    padding-left:1em;
    &.two{
      padding-left:2em;
    }
  }
  .touch-padding-right{
    padding-right:1em;
    &.two{
      padding-right:2em;
    }
  }
}

//firefox select element correction to hide dd arrow
@-moz-document url-prefix() {
    ui-select{
        overflow:hidden;
        padding-right:.5em;
        &>select{
            width:110%;
        }
    }
}

ui-menu{
   &.center{
      margin-left:auto;
   }
}

/* set brand as clickable */
ui-brand{
  cursor:pointer !important;
}


@include media-breakpoint(600px){
   touch-ui-drawer{
       overflow-x:hidden !important;
       overflow-y:auto !important;
       //position:fixed !important;
       section{
           height: 100%;
           position: relative;
           width: 265px;
           overflow-y: scroll;
       }
   }
}

ui-pagination{
  font-size:16px;
  ui-template{
      width:100%;
      @include flexbox($alignment:center);
  }
  &.center{
      .page-info{
          display:none;
      }
      justify-content:center;
      -webkit-justify-content:center;
      ul.right{
          margin-left:0;
      }
      @include touch-content(){
          display:none;
      }
      margin-bottom:5em;
  }
}

.error{
    @include invoke-component-default-state(error);
}
.success{
    @include invoke-component-default-state(success);
}
.info{
    @include invoke-component-default-state(info);
}
.warning{
    @include invoke-component-default-state(warning);
}
ui-select,state-select{
    &.error{
        @include invoke-component-default-state(error);
        select{
          @include invoke-component-default-state(error);
          border:1px solid $component-error-background;
        }
        &:before{
            color:$component-error-font-color;
        }
        &:after{
            color:darken($component-error-background,7%);
        }
    }
}

$twitter-color:#55acee;
$google-color:#dd4b39;
$facebook-color:#44619d;
@include component(twitter,$background:$twitter-color,$border:$twitter-color);
@include ui-button(twitter);
@include component(google,$background:$google-color,$border:$google-color);
@include ui-button(google);
@include component(facebook,$background:$facebook-color,$border:$facebook-color);
@include ui-button(facebook);

.ui-button{
    &.social{
         padding:0.8em 1.15em 0.8em 3.25em;
         min-width:250px;
         margin-bottom:1em;
        &:before{
            font-family:ellipsis;
            font-size:32px;
            color:$white;
            position:absolute;
            top:6px;
            left:8px;
        }
    }
}
.ui-button.social{
    &.twitter{
        &:before{
            content:'\e14e';
        }
    }
    &.facebook{
        &:before{
            content:'\e14a';
        }
    }
    &.google{
        &:before{
            content:'\e145';
        }
    }
}

@mixin _touch-tabs(){
    ui-tabs{
           display:none;
            &.stacked{
                @include gutter-bleed();
                @include flexbox-column($justification:flex-start,$alignment:flex-start);
                tab-item{
                    width:100%;
                }
                tabbed-items{
                    width:100%;
                    tab-item{
                        width:100%;
                        border-radius:0;
                        border-right-width:0 !important;
                        border-left-width:0 !important;
                    }
                }
            }
            @include touch-content(){
                tabbed-items{
                    &.off{
                        display:none;
                    }
                }
            }
        }
}

@mixin touch-tabs(){
 @include touch-content(){
    @include _touch-tabs();
    tab-item,tabbed-content{
     width:100% !important;
    }
    .touch-full{
      width:100% !important;
      max-width:100% !important;
    }
    @content;
  }
}

