
@mixin _caret-toggle(
$color:null,
$font-size:null,
$icon:null,
$margin:null,
$padding:null
){
    position:relative;
    display:none;
    cursor:pointer;
    font-size:$font-size;
    height:$font-size;
    width:$font-size;
    margin:$margin;
    padding:$padding;
    &:after{
        font-family:'ellipsis';
        content:$icon;
        color:$color;
        font-size:$font-size;
        @include phone-content(){
            font-size:16px;
        }
    }
    @include touch-content(){
        display:inline-block;
    }

}



@mixin caret-toggle($primary-tag:null,$tags:null,$template-tag:null,$component-class:null,$class:null,
$color:#000,
$font-size:24px,
$icon:'\e1b3',
$margin:0,
$padding:0
){
   
    $_primary-tag:caret-toggle;
    @if $primary-tag !=null{
      $_primary-tag:$primary-tag;
    }
    @include element-tag($primary-tag:$_primary-tag,$tags:$tags,$template-tag:$template-tag,$component-class:$component-class,$class:$class){
        @include _caret-toggle($color,$font-size,$icon,$margin,$padding);
        @content;
    }
}
