@mixin ui-spinner($size:3em,$border:10px rgba(0, 0, 0, 0.1),$border-color:#999){
    ui-spinner{
      @include flexbox-column($justification:center,$alignment:center);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100%;
      height: 100%; 
      &.bottom{
        justify-content: flex-end;
       -webkit-justify-content:flex-end;
      }
    }

    ui-spinner .circle,ui-spinner.bottom .circle {
        width: $size;
        height: $size;
        border-radius: 50%;
       -webkit-box-sizing: border-box;
        border: solid $border;
        border-top-color: $border-color;
       -webkit-animation: spin 1s infinite linear;
       animation: spin 1s infinite linear;
    }
   
     @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
     100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

}

@mixin ui-loading-wave($color:#ccc){
    ui-loading-wave{
      @include flexbox-column($justification:center,$alignment:center);
      position:absolute;
      left:0;
      top:0;
      z-index:999;
      width:100%;
      height:100%;
    }
    ui-loading-wave .loading-label{
      @include flexbox($justification:center,$alignment:center);
      color:$color;
      display:none;
      font-size:1.2em;
      margin:0 0 50px 0;
    }
    ui-loading-wave .spinner {
      margin: 0;
      width: 100px;
      height: 60px;
      text-align: center;
      font-size: 1em;
      @include flexbox($justification:center,$alignment:center);
    }

    ui-loading-wave .spinner > div {
      background-color: #ccc;
      height: 100%;
      width: 7px;
      display: inline-block;
      margin:0 3px 0 0;
      
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }

   ui-loading-wave .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

   ui-loading-wave .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

   ui-loading-wave .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

   ui-loading-wave .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes stretchdelay {
      0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      } 20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }
}

@mixin ui-x-spinner($size:50px,$touch-size:36px,$phone-size:24px,$color:#ccc){
    ui-x-spinner{
        display:block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        
        margin: auto;
        font-size:$size;
        width: 1em;
        height: 1em;
        @include touch-content(){
            font-size:$touch-size;
        }
        @include phone-content(){
            font-size:$phone-size;
        }
        .blade{
            position: absolute;
            left: .4629em;
            bottom: 0;
            width: .074em;
            height: .2777em;
            border-radius: .5em;
            background-color: transparent;
            transform-origin: center -.2222em;
            -webkit-transform-origin:center -.2222em;
            animation: x-spinner-fade 1s infinite linear;
            -webkit-animation:x-spinner-fade 1s infinite linear;
            $animation-delay: 0s;
            $blade-rotation: 0deg;
            @for $i from 1 through 12{
                 &:nth-child(#{$i}){
                 animation-delay: $animation-delay;
                -webkit-animation-delay:$animation-delay;
                transform: rotate($blade-rotation);
                -webkit-transform:rotate($blade-rotation);
                $blade-rotation: $blade-rotation + 30;
                $animation-delay: $animation-delay + .083;
            }
          }
        }
    }

    @-webkit-keyframes x-spinner-fade{
        0%{
            background-color: $color;
        }
        100%{
            background-color: transparent;
        }
    }
    @keyframes x-spinner-fade{
        0%{
            background-color: $color;
        }
        100%{
            background-color: transparent;
        }
    }
}

@mixin component-preload(){
    [ui-preload]{
        position:relative;
        &:before{
            font-family:'ellipsis';
            content:'\e0a3';
            font-size:32px;
            color:#ccc;
            top:100px;
            left:48%;
            position:absolute;
        }
    }
    [ui-preload="100"]{
        position:relative;
        min-height:100px;
    }
     [ui-preload="200"]{
        position:relative;
        min-height:200px;
    }
    [ui-preload="300"]{
        position:relative;
        min-height:300px;
    }
    [ui-preload="400"]{
        position:relative;
        min-height:400px;
    }
    [ui-preload="500"]{
        position:relative;
        min-height:500px;
    }
}
