
@mixin media-breakpoint-min($width:null){
  @media only screen and (min-width: #{$width}){
    @content;
  }
}

@mixin gutter-collapse-m(){
    @include gutter-bleed();
    width:110%;
    padding-left:1.5em;
    padding-right:1.5em;
}

@mixin ui-tooltip-font($font-family:null) {
  .data-tooltip{
    font-family: $font-family;
    @content;
  }
}

@mixin flat-forms($border-color:#d5d5d5,$background:#fff,$border-radius:5px,$form-width:400px){
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea{
    border:1px solid $border-color;
    background:$background;
    border-radius:$border-radius;
    &:focus {
      background:$background;
      border:1px solid $primary-color !important;
    }
    &[readonly]{
        &:focus{
            border:1px solid $border-color !important;
        }
    }

  }
  .form-width{
      form{
          width:$form-width;
          max-width:100%;
      }
  }
}

@mixin forms-content(){
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="checkbox"],
  input[type="radio"],
  select,
  textarea{
    @content;
  }
}

@mixin input-placeholder($color) {
  @include _placeholder-set($color);
  @content;
}

@include touch-content(){
    .gutter-collapse-m{
        @include gutter-collapse-m();
    }
}

@include tablet-content(){
     .tablet-flex{
      @include flexbox($justification:center);
     
    }
}

@mixin indent-list($indent-factor)
{
  .indent-list{
    list-style: none;
    padding-left: $indent-factor;
    text-indent: -$indent-factor;
  }
}

@mixin touch-grid-row($height:null){
  grid-row{
    overflow-x:hidden;
    overflow-y:visible;
    width:100%;
    @if $height !=null{
      height:$height;
    }
  }
}

@mixin touch-grid-row-x-hidden(){
  grid-row{
    overflow-x: hidden;
    width:100%;
  }
}