/* touch-ui-drawer */


/* private -----------------------------------------------------------------------------------------------------------*/

@mixin _touch-ui-drawer($component:null,$header-component:null,$input-component:null,
$width:null,
$header-height:null,
$search-margin:null,
$search-width:null,
$search-padding:null,
$search-font-size:null,
$search-input-border-radius:null,
$search-input-icon-top:null,
$search-input-icon-right:null
){

  min-height:100%;
  height:100%;
  overflow:hidden;
  @extend %#{$component}-background !optional;
  position:fixed;
  display:none;
  width:$width;
  &>header{
    position:fixed;
    top:0;
    left:0;
    height:$header-height;
    @include invoke-component-default-state($header-component);
    width:$width;
    z-index:999;
    &>.ui-search,&>ui-search{
      margin:$search-margin ;
      width:$search-width;
      position:relative;
      font-size:$search-font-size;
      input[type="text"],input{
        width:100% !important;
        padding:$search-padding;
        font-size:$search-font-size;
        border-radius:$search-input-border-radius;
        transition:none;
        -webkit-transition:none;

        @extend %#{$input-component}-background !optional;
        @extend %#{$input-component}-border !optional;
        @extend %#{$input-component}-box-shadow !optional;
        @extend %#{$input-component}-text-shadow !optional;
        @extend %#{$input-component}-font !optional;
        @extend %#{$input-component}-placeholder !optional;

        &:focus {
          @extend %#{$input-component}-background !optional;
          @extend %#{$input-component}-font !optional;
          @extend %#{$input-component}-placeholder !optional;
        }
      }
      &:after{
        @extend %#{$component}-icon !optional;
        font-size:$search-font-size;
        top:$search-input-icon-top;
        right:$search-input-icon-right;
      }
    }
  }
}


/* public ------------------------------------------------------------------------------------------------------------*/

