
/* Typography *

/* Public ----------------------------------------------------------------------------------------------------------*/

@mixin typography-reset($paragraph-line-height: null,
$paragraph-margin: null,
$paragraph-lead-font-size: null,
$paragraph-header-sibling-margin: null,
$paragraph-hr-sibling-margin: null,
$grid-header-first-child-margin-top: null,
$aside-paragraph-font-size: null,
$aside-paragraph-font-style: null,
$aside-paragraph-line-height: null,
$inset: null,
$list-style-position: null,
$list-line-height: null,
$hr-border-top: null,
$hr-border-bottom: null,
$hr-height: null,
$hr-margin: null,
$highlight-background: null,
$highlight-font-weight: null,
$highlight-font-color: null,
$blockquote-border: null,
$blockquote-font-color: null,
$blockquote-font-size: null,
$blockquote-font-weight: null,
$blockquote-font-style: null,
$blockquote-line-height: null,
$blockquote-margin: null,
$blockquote-padding: null,
$cite-font-size: null,
$cite-font-color: null,
$cite-font-style: null) {

  $typography-paragraph-line-height: 1.5 !default;
  $typography-paragraph-margin: 0 0 1em 0 !default;
  $typography-paragraph-lead-font-size: $global-font-size  * 1.5 !default;
  $typography-paragraph-header-sibling-margin: 2em 0 1em 0 !default;
  $typography-paragraph-hr-sibling-margin: 2.5em 0 2.5em 0 !default;
  $typography-grid-header-first-child-margin-top: 1em !default;
  $typography-aside-paragraph-font-size: $global-font-size !default;
  $typography-aside-paragraph-font-style: italic !default;
  $typography-aside-paragraph-line-height: 150% !default;
  $typography-inset: 0 1px 0 $white !default;
  $typography-list-style-position: inside !default;
  $typography-list-line-height: 1.25 !default;
  $typography-hr-border-top: 1px solid $gray !default;
  $typography-hr-border-bottom: 1px solid lighten($gray, 10%) !default;
  $typography-hr-height: 1px !default;
  $typography-highlight-background: #eee !default;
  $typography-hightlight-font-weight: bold !default;
  $typography-highlight-font-color: #333 !default;
  $typography-hr-margin: 1em 0 1em !default;
  $typography-blockquote-border: 0 !default;
  $typography-blockquote-left-border: 6px solid !default;
  $typography-blockquote-background: #f6f6f6 !default;
  $typography-blockquote-font-color: lighten($global-font-color, 10%) !default;
  $typography-blockquote-font-size: $global-font-size !default;
  $typography-blockquote-font-weight: normal !default;
  $typography-blockquote-font-style: normal !default;
  $typography-blockquote-line-height: 1.6 !default;
  $typography-blockquote-margin: 1em 0 !default;
  $typography-blockquote-padding: 1em !default;
  $typography-blockquote-link-decoration:underline !default;
  $typography-blockquote-link-weight:normal !default;
  $typography-blockquote-link-hover-opacity:.7 !default;
  $typography-cite-font-size: .8em !default;
  $typography-cite-font-color: lighten($global-font-color, 20%) !default;
  $typography-cite-font-style: normal !default;

  @if($paragraph-line-height != null){
    $typography-paragraph-line-height: $paragraph-line-height;
  }
  @if($paragraph-margin != null){
    $typography-paragraph-margin: $paragraph-margin;
  }
  @if($paragraph-lead-font-size != null){
    $typography-lead-font-size: $paragraph-lead-font-size;
  }
  @if($paragraph-header-sibling-margin != null){
    $typography-paragraph-header-sibling-margin: $paragraph-header-sibling-margin;
  }
  @if($paragraph-hr-sibling-margin != null){
    $typography-paragraph-hr-sibling-margin: $paragraph-hr-sibling-margin;
  }
  @if($grid-header-first-child-margin-top != null){
    $typography-grid-header-first-child-margin-top: $grid-header-first-child-margin-top;
  }
  @if($aside-paragraph-font-size!= null){
    $typography-aside-paragraph-font-size: $aside-paragraph-font-size;
  }
  @if($aside-paragraph-font-style!= null){
    $typography-aside-paragraph-font-style: $aside-paragraph-font-style;
  }
  @if($aside-paragraph-line-height!= null){
    $typography-aside-paragraph-line-height: $aside-paragraph-line-height;
  }
  @if($inset != null){
    $typography-inset: $inset;
  }
  @if($list-style-position!= null){
    $typography-list-style-position: $list-style-position;
  }
  @if($list-line-height!= null){
    $typography-list-line-height: $list-line-height;
  }
  @if($hr-border-top!= null){
    $typography-hr-border-top: $hr-border-top;
  }
  @if($hr-border-bottom!= null){
    $typography-hr-border-bottom: $hr-border-bottom;
  }
  @if($hr-height!= null){
    $typography-hr-height: $hr-height;
  }
  @if($hr-margin!= null){
    $typography-hr-margin: $hr-margin;
  }
  @if($highlight-background!= null){
    $typography-highlight-background: $highlight-background;
  }
  @if($highlight-font-weight!= null){
    $typography-highlight-font-weight: $highlight-font-weight;
  }
  @if($highlight-font-color!= null){
    $typography-highlight-font-color: $highlight-font-color;
  }
  @if($blockquote-border!= null){
    $typography-blockquote-border: $blockquote-border;
  }
  @if($blockquote-font-color!= null){
    $typography-blockquote-font-color: $blockquote-font-color;
  }
  @if($blockquote-font-size!= null){
    $typography-blockquote-font-size: $blockquote-font-size;
  }
  @if($blockquote-font-weight!= null){
    $typography-blockquote-font-weight: $blockquote-font-weight;
  }
  @if($blockquote-font-style!= null){
    $typography-blockquote-font-style: $blockquote-font-style;
  }
  @if($blockquote-line-height!= null){
    $typography-blockquote-line-height: $blockquote-line-height;
  }
  @if($blockquote-margin!= null){
    $typography-blockquote-margin: $blockquote-margin;
  }
  @if($blockquote-padding!= null){
    $typography-blockquote-padding: $blockquote-padding;
  }
  @if($cite-font-size!= null){
    $typography-cite-font-size: $cite-font-size;
  }
  @if($cite-font-color!= null){
    $typography-cite-font-color: $cite-font-color;
  }
  @if($cite-font-style!= null){
    $typography-cite-font-style: $cite-font-style;
  }

  div, dl, dt, dd, ul, ol, li, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction:ltr;
  }

  .font-normal {
    font-weight: normal;
  }

  p {
    line-height: $typography-paragraph-line-height;
    margin: $typography-paragraph-margin;
    &.lead {
      font-size: $typography-paragraph-lead-font-size;
    }
    &.margin-top{
      margin-top:1em;
    }

  }

  aside p {
    font-size: $typography-aside-paragraph-font-size;
    line-height: $typography-aside-paragraph-line-height;
    font-style: $typography-aside-paragraph-font-style;
  }




  p + hr {
    margin: $typography-paragraph-hr-sibling-margin;

  }
  div{
    &.columns + h1,
    &.columns + h2,
    &.columns + h3,
    &.columns + h4,
    &.columns + h5,
    &.columns + h6{
      &:first-child {
        margin-top: $typography-grid-header-first-child-margin-top;
      }
    }
  }

  hr {
    border: 0;
    border-top: $typography-hr-border-top;
    clear: both;
    margin: $typography-hr-margin;
    height: $typography-hr-height;
    &.flush{
      margin-top:0;
    }
  }

  hr > div.row > div.column {
    margin: 0;
  }

  em, i {
    font-style: italic;
    line-height: inherit;
  }

  strong, b {
    font-weight: bold;
    line-height: inherit;
  }

  small {
    font-size: 85%;
    line-height: inherit;
    font-weight: normal;
  }

  code, .highlight {

  }

  .inset {
    text-shadow: #{$global-inset};
  }

  blockquote, blockquote p {
    line-height: $typography-blockquote-line-height;
    color: $typography-blockquote-font-color;
    margin: $typography-blockquote-margin;
    padding: $typography-blockquote-padding;
    font-size: $typography-blockquote-font-size;
    font-style: $typography-blockquote-font-style;
    border: $typography-blockquote-border;

    &.center{
      text-align: center;
    }
    cite {
      display: block;
      font-size: $typography-cite-font-size;
      color: $typography-cite-font-color;
      font-style: $typography-cite-font-style;
      &:before {
        content: "\2014 \0020";
      }
    }
    &.info{
      border-left:$typography-blockquote-left-border $component-info-font-color !important;
      background:$component-info-background;
      color:$component-info-font-color;
      border:$typography-blockquote-border;
      a{
        color:$component-info-font-color;
        text-decoration: $typography-blockquote-link-decoration;
        font-weight:$typography-blockquote-link-weight;
        &:hover{
          opacity:$typography-blockquote-link-hover-opacity;
        }
      }
    }
    &.warning{
      border-left:$typography-blockquote-left-border $component-warning-font-color !important;
      background:$component-warning-background;
      color:$component-warning-font-color;
      border:$typography-blockquote-border;
    }
    &.success{
      border-left:$typography-blockquote-left-border $component-success-font-color !important;
      background:$component-success-background;
      color:$component-success-font-color;
      border:$typography-blockquote-border;
    }
    &.error{
      border-left:$typography-blockquote-left-border $component-error-font-color !important;
      background:$component-error-background;
      color:$component-error-font-color;
      border:$typography-blockquote-border;
    }
    &.primary{
      border-left:$typography-blockquote-left-border $primary-color !important;
      background:$typography-blockquote-background;
      color:$global-font-color;
      border:$typography-blockquote-border;
    }
    &.secondary{
      border-left:$typography-blockquote-left-border $secondary-color !important;
      background:$typography-blockquote-background;
      color:$global-font-color;
      border:$typography-blockquote-border;
    }
  }
  a{
    &.disabled,[disabled]{
      color:#e1e1e1;
      &:hover{
        color:#e1e1e1;
        opacity:1 !important;
      }
    }
  }
  button{
    &[disabled]{
      background:#eee !important;
      color:#e1e1e1 !important;
      border:0 !important;
      box-shadow:none !important;
      text-shadow:none !important;
    }
  }
  abbr, acronym {
    text-transform: uppercase;
    font-size: 90%;
    cursor: help;
  }

  abbr {
    text-transform: none;
  }
  @content;
}

/* Header Typography --------------------------------------------------------------------------------------------------*/
@mixin typography-header($header-font-family: null,
$header-font-weight: null,
$header-line-height: null,
$header-margin: null,
$header-text-rendering: null,
$header-small-font-size: null,
$header-small-font-color: null,
$header-small-line-height: null,
$header-1: null,
$header-2: null,
$header-3: null,
$header-4: null,
$header-5: null,
$header-6: null,
$tablet-factor:.8,
$phone-factor:.6
) {

  $typography-header-font-family: inherit !default;
  $typography-header-font-weight: 300 !default;
  $typography-header-line-height: 1.1 !default;
  $typography-header-margin: .2em 0 .3em 0 !default;
  $typography-header-text-rendering: optimizeLegibility !default;
  $typography-header-small-font-size: 60% !default;
  $typography-header-small-font-color: lighten($global-header-font-color, 30%) !default;
  $typography-header-small-line-height: 0 !default;

  $typography-header-1: 4.9em !default;
  $typography-header-2: 3.375em !default;
  $typography-header-3: 2.375em !default;
  $typography-header-4: 1.68em !default;
  $typography-header-5: 1.2em !default;
  $typography-header-6: 1em !default;


  @if($header-font-family != null){
    $typography-header-font-family: $header-font-family;
  }
  @if($header-font-weight != null){
    $typography-header-font-weight: $header-font-weight;
  }
  @if($header-line-height != null){
    $typography-header-line-height: $header-line-height;
  }
  @if($header-margin != null){
    $typography-header-margin: $header-margin;
  }
  @if($header-text-rendering != null){
    $typography-header-text-rendering: $header-text-rendering;
  }
  @if($header-small-font-size != null){
    $typography-header-small-font-size: $header-small-font-size;
  }
  @if($header-small-font-color != null){
    $typography-header-small-font-color: $header-small-font-color;
  }
  @if($header-small-line-height != null){
    $typography-header-small-line-height: $header-small-line-height;
  }
  @if($header-1 != null){
    $typography-header-1: $header-1;
  }
  @if($header-2 != null){
    $typography-header-2: $header-2;
  }
  @if($header-3 != null){
    $typography-header-3: $header-3;
  }
  @if($header-4 != null){
    $typography-header-4: $header-4;
  }
  @if($header-5 != null){
    $typography-header-5: $header-5;
  }
  @if($header-6 != null){
    $typography-header-6: $header-6;
  }



  h1, h2, h3, h4, h5, h6 {
    font-family: $typography-header-font-family;
    font-weight: $typography-header-font-weight;
    color: $global-header-font-color;
    text-rendering: $typography-header-text-rendering;
    line-height: $typography-header-line-height;
    margin: $typography-header-margin;
    small {
      font-size: $typography-header-small-font-size;
      color: $typography-header-small-font-color;
      line-height: $typography-header-small-line-height;
    }
    &.primary {
      color: $primary-color;
    }
    &.white {
      color: $white;
    }
    &.inverse {
      color: $inverse-color;
    }
    &.secondary {
      color: $secondary-color;
    }
    &.error {
      color: $error-color;
    }
    &.info {
      color: $info-color;
    }
    &.success {
      color: $success-color;
    }
    &.warning {
      color: $warning-color;
    }
  }

  h1 {
    font-size: $typography-header-1;
  }

  h2 {
    font-size: $typography-header-2;
  }

  h3 {
    font-size: $typography-header-3;
  }

  h4 {
    font-size: $typography-header-4;
  }

  h5 {
    font-size: $typography-header-5;
  }

  h6 {
    font-size: $typography-header-6;
  }

  @media #{$breakpoint-tablet} {

    h1 {
      font-size: $tablet-factor*$typography-header-1;
    }
    h2 {
      font-size: $tablet-factor*$typography-header-2;
    }
    h3 {
      font-size: $tablet-factor*$typography-header-3;
    }
    h4 {
      font-size: $tablet-factor*$typography-header-4;
    }
  }

  //Media queries
  @media #{$breakpoint-phone} {
    h1 {
      font-size: $phone-factor*$typography-header-1;
    }
    h2 {
      font-size: $phone-factor*$typography-header-2;
    }
    h3 {
      font-size: $phone-factor*$typography-header-3;
    }
    h4 {
      font-size: $tablet-factor*$typography-header-4;
    }

  }


  @content;
}

@mixin typography-header-margins(){
  h2 + hr{
    margin-top:3em;
  }

  section + section{
    margin-top:2em;
  }

  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin: 1em 0 .4em 0;
  }
  section{
    h4{
      margin-bottom:.3em;
    }
  }
  @content;
}


@mixin typography-theme-break($border-top:1px solid $gray,$margin:1em 0 1em,$height:1px){
  hr {
    border: 0;
    border-top: $border-top;
    clear: both;
    margin: $margin;
    height: $height;
    &.flush{
      margin-top:0;
    }
    width:100%;

    @content;
  }
}

/* Footer Typography --------------------------------------------------------------------------------------------------*/
@mixin typography-footer($margin: null,
$padding: null,
$link-font-size: null,
$link-color: null,
$link-color-hover: null,
$copyright-font-size: null,
$copyright-font-color: null,
$copyright-text-transform: null,
$link-font-weight: null,
$label-font-weight: null,
$hr-margin: null,
$ul-margin: null,
$label-color: null) {


  $typography-footer-margin:4em 0 0 0;
  $typography-footer-padding:0;
  $typography-footer-link-font-size: inherit !default;
  $typography-footer-link-color: $global-font-color !default;
  $typography-footer-link-color-hover: darken($global-font-color, 15%) !default;
  $typography-footer-copyright-font-size: 1em !default;
  $typography-footer-copyright-font-color: $global-font-color !default;
  $typography-footer-copyright-text-transform: uppercase !default;
  $typography-footer-link-font-weight: normal !default;
  $typography-footer-label-font-weight: normal !default;
  $typography-footer-hr-margin: 0 0 1em 0 !default;
  $typography-footer-ul-margin: 1.5em 0 2em 0 !default;
  $typography-footer-label-color: $global-font-color !default;


  @if($margin != null){
    $typography-footer-margin: $margin;
  }
  @if($padding != null){
    $typography-footer-padding: $padding;
  }
  @if($link-font-size != null){
    $typography-footer-link-font-size: $link-font-size;
  }
  @if($link-font-weight != null){
    $typography-footer-link-font-weight: $link-font-weight;
  }
  @if($link-color != null){
    $typography-footer-link-color: $link-color;
  }
  @if($link-color-hover != null){
    $typography-footer-link-color-hover: $link-color-hover;
  }
  @if($copyright-font-size != null){
    $typography-footer-copyright-font-size: $copyright-font-size;
  }
  @if($copyright-font-color != null){
    $typography-footer-copyright-font-color: $copyright-font-color;
  }
  @if($copyright-text-transform != null){
    $typography-footer-copyright-text-transform: $copyright-text-transform;
  }
  @if($label-font-weight != null){
    $typography-footer-label-font-weight: $label-font-weight;
  }
  @if($label-color != null){
    $typography-footer-label-color: $label-color;
  }
  @if($ul-margin != null){
    $typography-footer-ul-margin: $ul-margin;
  }
  @if($hr-margin != null){
    $typography-footer-hr-margin: $hr-margin;
  }

  :root {
    footer[data-role=footer] {
      margin:$typography-footer-margin;
      padding:$typography-footer-padding;
      hr {
        margin: $typography-footer-hr-margin;
      }
      ul {

        list-style: none;
        display: block;
        padding: 0;
        text-align: center;
        margin: $typography-footer-ul-margin;

        & > li {
          padding: 0 1em 0 1em;
          display: inline;
          line-height: 3;

          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          a {

            font-size: $typography-footer-link-font-size;
            color: $typography-footer-link-color;

            font-weight: $typography-footer-link-font-weight;
            &:hover, &:focus {
              color: $typography-footer-link-color-hover;

            }
          }
          &.label {
            font-size: $typography-footer-link-font-size;
            font-weight: $typography-footer-label-font-weight;
            background: none;
            color: $global-font-color;
          }
        }

      }
      .copyright {
        font-size: $typography-footer-copyright-font-size;
        color: $typography-footer-copyright-font-color;
        text-align: center;
        display: block;
        & > span {
          text-transform: $typography-footer-copyright-text-transform;
        }
      }
    }

  }

  :root {
    footer[data-role=footer] {
      @content;
    }
  }

}



/* Print Typography ----------------------------------------------------------------------------------------*/

@mixin typography-print() {

  .print-only {
    display: none !important;
  }

  @media print {
    * {
      background: transparent !important;
      color: black !important;
      box-shadow: none !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important;
    }

    a, a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
      content: "";
    }

    pre, blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    thead {
      display: table-header-group;
    }

    tr, img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    @page {
      margin: 0.5cm;
    }

    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2, h3 {
      page-break-after: avoid;
    }

    .hide-on-print {
      display: none !important;
    }

    .print-only {
      display: block !important;
    }

    .hide-for-print {
      display: none !important;
    }

    .show-for-print {
      display: inherit !important;
    }
  }
  @content;
}
