@mixin icons-arrows() {

    @font-face {
        font-family: "arrows";
        src: url("fonts/arrows.eot");
        src: url("fonts/arrows.eot?#iefix") format("embedded-opentype"), url("fonts/arrows.woff") format("woff"), url("fonts/arrows.ttf") format("truetype"), url("fonts/arrows.svg#arrows") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-arrows]:before {
        font-family: "arrows" !important;
        content: attr(data-icon) !important;
        font-style: normal !important ;
        font-weight: normal !important;
        font-variant: normal !important ;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-arrows"]:before,
    [class*="icon-arrows"]:before {
        font-family: "arrows" !important;
        font-style: normal !important;
        font-weight: normal;
        font-variant: normal;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-arrows-cross:before {
        content: "\e000";
    }

    .icon-arrows-in:before {
        content: "\e001";
    }

    .icon-arrows-in-2:before {
        content: "\e002";
    }

    .icon-arrows-out:before {
        content: "\e003";
    }

    .icon-arrows-out-2:before {
        content: "\e004";
    }

    .icon-arrows-forward:before {
        content: "\e005";
    }

    .icon-arrows-horizontal:before {
        content: "\e006";
    }

    .icon-arrows-loop:before {
        content: "\e007";
    }

    .icon-arrows-redo:before {
        content: "\e008";
    }

    .icon-arrows-repeat:before {
        content: "\e009";
    }

    .icon-arrows-reset:before {
        content: "\e00a";
    }

    .icon-arrows-reverse:before {
        content: "\e00b";
    }

    .icon-arrows-shuffle:before {
        content: "\e00c";
    }

    .icon-arrows-syncing:before {
        content: "\e00d";
    }

    .icon-arrows-undo:before {
        content: "\e00e";
    }

    .icon-arrows-vertical:before {
        content: "\e00f";
    }
}


@mixin icons-business() {

    @font-face {
        font-family: "business";
        src: url("fonts/business.eot");
        src: url("fonts/business.eot?#iefix") format("embedded-opentype"), url("fonts/business.woff") format("woff"), url("fonts/business.ttf") format("truetype"), url("fonts/business.svg#business") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-biz]:before {
        font-family: "business";
        content: attr(data-icon);
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-biz"]:before,
    [class*="icon-biz"]:before {
        font-family: "business" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-biz-bar-chart:before {
        content: "\e000";
    }

    .icon-biz-box-closed:before {
        content: "\e001";
    }

    .icon-biz-box-open:before {
        content: "\e002";
    }

    .icon-biz-briefcase:before {
        content: "\e003";
    }

    .icon-biz-calculator:before {
        content: "\e004";
    }

    .icon-biz-chart-down:before {
        content: "\e005";
    }

    .icon-biz-chart-up:before {
        content: "\e006";
    }

    .icon-biz-coin-dollar:before {
        content: "\e007";
    }

    .icon-biz-coin-euro:before {
        content: "\e008";
    }

    .icon-biz-coin-rupee:before {
        content: "\e009";
    }

    .icon-biz-coin-sterling:before {
        content: "\e00a";
    }

    .icon-biz-coin-yen-yuan:before {
        content: "\e00b";
    }

    .icon-biz-combination-lock:before {
        content: "\e00c";
    }

    .icon-biz-combination-lock-open:before {
        content: "\e00d";
    }

    .icon-biz-dollar:before {
        content: "\e00e";
    }

    .icon-biz-euro:before {
        content: "\e00f";
    }

    .icon-biz-gift:before {
        content: "\e010";
    }

    .icon-biz-id:before {
        content: "\e011";
    }

    .icon-biz-note-dollar:before {
        content: "\e012";
    }

    .icon-biz-note-euro:before {
        content: "\e013";
    }

    .icon-biz-note-rupee:before {
        content: "\e014";
    }

    .icon-biz-note-sterling:before {
        content: "\e015";
    }

    .icon-biz-note-yen-yuan:before {
        content: "\e016";
    }

    .icon-biz-padlock-closed:before {
        content: "\e017";
    }

    .icon-biz-padlock-closed-2:before {
        content: "\e018";
    }

    .icon-biz-padlock-open:before {
        content: "\e019";
    }

    .icon-biz-padlock-open-2:before {
        content: "\e01a";
    }

    .icon-biz-pie-chart:before {
        content: "\e01b";
    }

    .icon-biz-piggy-bank:before {
        content: "\e01c";
    }

    .icon-biz-piggy-bank-coin:before {
        content: "\e01d";
    }

    .icon-biz-presentation:before {
        content: "\e01e";
    }

    .icon-biz-rupee:before {
        content: "\e01f";
    }

    .icon-biz-safe:before {
        content: "\e020";
    }

    .icon-biz-satchel:before {
        content: "\e021";
    }

    .icon-biz-shield:before {
        content: "\e022";
    }

    .icon-biz-shield-cross:before {
        content: "\e023";
    }

    .icon-biz-shop-bag:before {
        content: "\e024";
    }

    .icon-biz-shop-basket:before {
        content: "\e025";
    }

    .icon-biz-shop-basket-add:before {
        content: "\e026";
    }

    .icon-biz-shop-basket-love:before {
        content: "\e027";
    }

    .icon-biz-shop-basket-multiply:before {
        content: "\e028";
    }

    .icon-shop-basket-remove:before {
        content: "\e029";
    }

    .icon-biz-shop-basket-search:before {
        content: "\e02a";
    }

    .icon-biz-shop-basket-tick:before {
        content: "\e02b";
    }

    .icon-biz-shop-basket-warning:before {
        content: "\e02c";
    }

    .icon-biz-shop-cart:before {
        content: "\e02d";
    }

    .icon-biz-shop-cart-add:before {
        content: "\e02e";
    }

    .icon-biz-shop-cart-remove:before {
        content: "\e02f";
    }

    .icon-biz-sterling:before {
        content: "\e030";
    }

    .icon-biz-tag:before {
        content: "\e031";
    }

    .icon-biz-tag-dollar:before {
        content: "\e032";
    }

    .icon-biz-tag-euro:before {
        content: "\e033";
    }

    .icon-biz-tag-rupee:before {
        content: "\e034";
    }

    .icon-biz-tag-sterling:before {
        content: "\e035";
    }

    .icon-biz-tag-yen-yuan:before {
        content: "\e036";
    }

    .icon-biz-tags:before {
        content: "\e037";
    }

    .icon-biz-venn-diagram:before {
        content: "\e038";
    }

    .icon-biz-yen-yuan:before {
        content: "\e039";
    }
}


@mixin icons_devices() {

    @font-face {
        font-family: "devices";
        src: url("fonts/devices.eot");
        src: url("fonts/devices.eot?#iefix") format("embedded-opentype"), url("fonts/devices.woff") format("woff"), url("fonts/devices.ttf") format("truetype"), url("fonts/devices.svg#devices") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-device]:before {
        font-family: "devices";
        content: attr(data-icon);
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none ;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-device"]:before,
    [class*="icon-device"]:before {
        font-family: "devices" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-device-camera:before {
        content: "\e000";
    }

    .icon-device-camera-rotate:before {
        content: "\e001";
    }

    .icon-device-headphones:before {
        content: "\e002";
    }

    .icon-device-headset:before {
        content: "\e003";
    }

    .icon-device-iphone:before {
        content: "\e004";
    }

    .icon-device-iphone-calibrate:before {
        content: "\e005";
    }

    .icon-device-iphone-chat:before {
        content: "\e006";
    }

    .icon-device-iphone-edit:before {
        content: "\e007";
    }

    .icon-device-iphone-flip:before {
        content: "\e008";
    }

    .icon-device-iphone-iphone:before {
        content: "\e009";
    }

    .icon-device-iphone-location:before {
        content: "\e00a";
    }

    .icon-device-iphone-locked:before {
        content: "\e00b";
    }

    .icon-device-iphone-mac:before {
        content: "\e00c";
    }

    .icon-device-iphone-minus:before {
        content: "\e00d";
    }

    .icon-device-iphone-multiply:before {
        content: "\e00e";
    }

    .icon-device-iphone-plus:before {
        content: "\e00f";
    }

    .icon-device-iphone-receive:before {
        content: "\e010";
    }

    .icon-device-iphone-rotate:before {
        content: "\e011";
    }

    .icon-device-iphone-search:before {
        content: "\e012";
    }

    .icon-device-iphone-send:before {
        content: "\e013";
    }

    .icon-device-iphone-settings:before {
        content: "\e014";
    }

    .icon-device-iphone-shake:before {
        content: "\e015";
    }

    .icon-device-iphone-signal:before {
        content: "\e016";
    }

    .icon-device-iphone-signal-2:before {
        content: "\e017";
    }

    .icon-device-iphone-tick:before {
        content: "\e018";
    }

    .icon-device-iphone-tv:before {
        content: "\e019";
    }

    .icon-devices-iphone-warning:before {
        content: "\e01a";
    }

    .icon-devices-ipod:before {
        content: "\e01b";
    }

    .icon-device-ipod-buds:before {
        content: "\e01c";
    }

    .icon-device-ipod-headphones:before {
        content: "\e01d";
    }

    .icon-device-ipod-nano:before {
        content: "\e01e";
    }

    .icon-device-laptop:before {
        content: "\e01f";
    }

    .icon-device-mac:before {
        content: "\e020";
    }

    .icon-device-mobile:before {
        content: "\e021";
    }

    .icon-device-mobile-monitor:before {
        content: "\e022";
    }

    .icon-device-monitor:before {
        content: "\e023";
    }

    .icon-device-printer:before {
        content: "\e024";
    }

    .icon-device-shredder:before {
        content: "\e025";
    }

    .icon-device-tablet:before {
        content: "\e026";
    }

    .icon-device-tv:before {
        content: "\e027";
    }

    .icon-device-tv-demand:before {
        content: "\e028";
    }
}


@mixin icons-files() {

    @font-face {
        font-family: "files";
        src: url("fonts/files.eot");
        src: url("fonts/files.eot?#iefix") format("embedded-opentype"), url("fonts/files.woff") format("woff"), url("fonts/files.ttf") format("truetype"), url("fonts/files.svg#files") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-file]:before {
        font-family: "files" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-file"]:before,
    [class*="icon-file"]:before {
        font-family: "files" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-file-alarm:before {
        content: "\e000";
    }

    .icon-file-attach:before {
        content: "\e001";
    }

    .icon-file-audio:before {
        content: "\e002";
    }

    .icon-file-calendar:before {
        content: "\e003";
    }

    .icon-file-chat:before {
        content: "\e004";
    }

    .icon-file-code:before {
        content: "\e005";
    }

    .icon-file-data:before {
        content: "\e006";
    }

    .icon-file-database:before {
        content: "\e007";
    }

    .icon-file-divider:before {
        content: "\e008";
    }

    .icon-file-download:before {
        content: "\e009";
    }

    .icon-file-edit:before {
        content: "\e00a";
    }

    .icon-file-email:before {
        content: "\e00b";
    }

    .icon-file-flag:before {
        content: "\e00c";
    }

    .icon-file-graph:before {
        content: "\e00d";
    }

    .icon-file-image:before {
        content: "\e00e";
    }

    .icon-file-information:before {
        content: "\e00f";
    }

    .icon-file-location:before {
        content: "\e010";
    }

    .icon-file-locked:before {
        content: "\e011";
    }

    .icon-file-love:before {
        content: "\e012";
    }

    .icon-file-minus:before {
        content: "\e013";
    }

    .icon-file-movie:before {
        content: "\e014";
    }

    .icon-file-multiply:before {
        content: "\e015";
    }

    .icon-file-music:before {
        content: "\e016";
    }

    .icon-file-play:before {
        content: "\e017";
    }

    .icon-file-plus:before {
        content: "\e018";
    }

    .icon-file-protect:before {
        content: "\e019";
    }

    .icon-file-question:before {
        content: "\e01a";
    }

    .icon-file-receive:before {
        content: "\e01b";
    }

    .icon-file-search:before {
        content: "\e01c";
    }

    .icon-file-send:before {
        content: "\e01d";
    }

    .icon-file-settings:before {
        content: "\e01e";
    }

    .icon-file-statistics:before {
        content: "\e01f";
    }

    .icon-file-text:before {
        content: "\e020";
    }

    .icon-file-tick:before {
        content: "\e021";
    }

    .icon-file-time:before {
        content: "\e022";
    }

    .icon-file-trash:before {
        content: "\e023";
    }

    .icon-file-unlocked:before {
        content: "\e024";
    }

    .icon-file-upload:before {
        content: "\e025";
    }

    .icon-file-user:before {
        content: "\e026";
    }

    .icon-file-warning:before {
        content: "\e027";
    }
}


@mixin icons-common() {

    @font-face {
        font-family: "general";
        src: url("fonts/general.eot");
        src: url("fonts/general.eot?#iefix") format("embedded-opentype"), url("fonts/general.woff") format("woff"), url("fonts/general.ttf") format("truetype"), url("fonts/general.svg#general") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-common]:before {
        font-family: "general" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-common"]:before,
    [class*="icon-common"]:before {
        font-family: "general" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-common-aim-target:before {
        content: "\e000";
    }

    .icon-common-alarm:before {
        content: "\e001";
    }

    .icon-common-alarm-off:before {
        content: "\e002";
    }

    .icon-common-broken-heart:before {
        content: "\e003";
    }

    .icon-common-bullet-list:before {
        content: "\e004";
    }

    .icon-common-calendar:before {
        content: "\e005";
    }

    .icon-common-chat:before {
        content: "\e006";
    }

    .icon-common-chat-ios:before {
        content: "\e007";
    }

    .icon-common-chat-reply:before {
        content: "\e008";
    }

    .icon-common-chats:before {
        content: "\e009";
    }

    .icon-common-checkbox:before {
        content: "\e00a";
    }

    .icon-common-clock:before {
        content: "\e00b";
    }

    .icon-common-coathanger:before {
        content: "\e00c";
    }

    .icon-common-cog:before {
        content: "\e00d";
    }

    .icon-common-cogs:before {
        content: "\e00e";
    }

    .icon-common-cube:before {
        content: "\e00f";
    }

    .icon-common-divider:before {
        content: "\e010";
    }

    .icon-common-dress:before {
        content: "\e011";
    }

    .icon-common-electronic-megaphone:before {
        content: "\e012";
    }

    .icon-common-female-symbol:before {
        content: "\e013";
    }

    .icon-common-filter:before {
        content: "\e014";
    }

    .icon-common-flag-fanion:before {
        content: "\e015";
    }

    .icon-common-flag-rectangle:before {
        content: "\e016";
    }

    .icon-common-flag-swallowtail:before {
        content: "\e017";
    }

    .icon-common-games-ios:before {
        content: "\e018";
    }

    .icon-common-happy-face:before {
        content: "\e019";
    }

    .icon-common-heart:before {
        content: "\e01a";
    }

    .icon-common-heart-rate:before {
        content: "\e01b";
    }

    .icon-common-heart-rate-2:before {
        content: "\e01c";
    }

    .icon-common-infinity:before {
        content: "\e01d";
    }

    .icon-common-information:before {
        content: "\e01e";
    }

    .icon-common-jewel:before {
        content: "\e01f";
    }

    .icon-common-jigsaw:before {
        content: "\e020";
    }

    .icon-common-joystick:before {
        content: "\e021";
    }

    .icon-common-lifebelt:before {
        content: "\e022";
    }

    .icon-common-light:before {
        content: "\e023";
    }

    .icon-common-light-bulb:before {
        content: "\e024";
    }

    .icon-common-light-bulb-on:before {
        content: "\e025";
    }

    .icon-common-lightening:before {
        content: "\e026";
    }

    .icon-common-male-female-symbol:before {
        content: "\e027";
    }

    .icon-common-male-female-symbol-2:before {
        content: "\e028";
    }

    .icon-common-male-symbol:before {
        content: "\e029";
    }

    .icon-common-medical-kit:before {
        content: "\e02a";
    }

    .icon-common-megaphone:before {
        content: "\e02b";
    }

    .icon-common-moon:before {
        content: "\e02c";
    }

    .icon-common-mortar-board:before {
        content: "\e02d";
    }

    .icon-common-origami:before {
        content: "\e02e";
    }

    .icon-common-paint-roller:before {
        content: "\e02f";
    }

    .icon-common-paint-tin:before {
        content: "\e030";
    }

    .icon-common-palette:before {
        content: "\e031";
    }

    .icon-common-paperclip:before {
        content: "\e032";
    }

    .icon-common-paperclip-2:before {
        content: "\e033";
    }

    .icon-common-past:before {
        content: "\e034";
    }

    .icon-common-paw-print:before {
        content: "\e035";
    }

    .icon-common-pencil:before {
        content: "\e036";
    }

    .icon-common-picture-list:before {
        content: "\e037";
    }

    .icon-common-picture-list-2:before {
        content: "\e038";
    }

    .icon-common-pill:before {
        content: "\e039";
    }

    .icon-common-pinwheel:before {
        content: "\e03a";
    }

    .icon-common-rainbow:before {
        content: "\e03b";
    }

    .icon-common-rocket:before {
        content: "\e03c";
    }

    .icon-common-ruler:before {
        content: "\e03d";
    }

    .icon-common-ruler-pencil:before {
        content: "\e03e";
    }

    .icon-common-sad-face:before {
        content: "\e03f";
    }

    .icon-common-snow:before {
        content: "\e040";
    }

    .icon-common-spanner:before {
        content: "\e041";
    }

    .icon-common-spanner-2:before {
        content: "\e042";
    }

    .icon-common-speedometer:before {
        content: "\e043";
    }

    .icon-common-steering-wheel:before {
        content: "\e044";
    }

    .icon-common-stroller:before {
        content: "\e045";
    }

    .icon-common-sun-cloud:before {
        content: "\e046";
    }

    .icon-common-target:before {
        content: "\e047";
    }

    .icon-common-umbrella:before {
        content: "\e048";
    }

    .icon-common-warning:before {
        content: "\e049";
    }
}

@mixin icons-media() {

    @font-face {
        font-family: "media";
        src: url("fonts/media.eot");
        src: url("fonts/media.eot?#iefix") format("embedded-opentype"), url("fonts/media.woff") format("woff"), url("fonts/media.ttf") format("truetype"), url("fonts/media.svg#media") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-media]:before {
        font-family: "media" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-media"]:before,
    [class*="icon-media"]:before {
        font-family: "media" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-media-controls-eject:before {
        content: "\e000";
    }

    .icon-media-controls-end:before {
        content: "\e001";
    }

    .icon-media-controls-forward:before {
        content: "\e002";
    }

    .icon-media-controls-next:before {
        content: "\e003";
    }

    .icon-media-controls-pause:before {
        content: "\e004";
    }

    .icon-media-controls-play:before {
        content: "\e005";
    }

    .icon-media-controls-previous:before {
        content: "\e006";
    }

    .icon-media-controls-reverse:before {
        content: "\e007";
    }

    .icon-media-controls-rewind:before {
        content: "\e008";
    }

    .icon-media-controls-start:before {
        content: "\e009";
    }

    .icon-media-controls-stop:before {
        content: "\e00a";
    }

    .icon-media-microphone:before {
        content: "\e00b";
    }

    .icon-media-movies:before {
        content: "\e00c";
    }

    .icon-media-music-note:before {
        content: "\e00d";
    }

    .icon-media-pic-fields:before {
        content: "\e00e";
    }

    .icon-media-pic-fields-albums:before {
        content: "\e00f";
    }

    .icon-media-pic-ios:before {
        content: "\e010";
    }

    .icon-media-pic-ios-2:before {
        content: "\e011";
    }

    .icon-media-pic-ios-album:before {
        content: "\e012";
    }

    .icon-media-pic-mountains:before {
        content: "\e013";
    }

    .icon-media-pic-mountains-albums:before {
        content: "\e014";
    }

    .icon-media-sliders-side:before {
        content: "\e015";
    }

    .icon-media-sliders-side-2:before {
        content: "\e016";
    }

    .icon-media-sliders-up:before {
        content: "\e017";
    }

    .icon-media-sliders-up-2:before {
        content: "\e018";
    }

    .icon-media-vol-loud:before {
        content: "\e019";
    }

    .icon-media-vol-medium:before {
        content: "\e01a";
    }

    .icon-media-vol-mute:before {
        content: "\e01b";
    }

    .icon-media-vol-quiet:before {
        content: "\e01c";
    }
}

@mixin icons-iOS() {

    @font-face {
        font-family: "native-ios";
        src: url("fonts/native-ios.eot");
        src: url("fonts/native-ios.eot?#iefix") format("embedded-opentype"), url("fonts/native-ios.woff") format("woff"), url("fonts/native-ios.ttf") format("truetype"), url("fonts/native-ios.svg#native-ios") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-native]:before {
        font-family: "native-ios" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-native-"]:before,
    [class*=" icon-native-"]:before {
        font-family: "native-ios" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-native-airdrop:before {
        content: "\e000";
    }

    .icon-native-alarms:before {
        content: "\e001";
    }

    .icon-native-albums:before {
        content: "\e002";
    }

    .icon-native-bookmarks:before {
        content: "\e003";
    }

    .icon-native-browsers:before {
        content: "\e004";
    }

    .icon-native-contacts:before {
        content: "\e005";
    }

    .icon-native-download:before {
        content: "\e006";
    }

    .icon-native-favorites:before {
        content: "\e007";
    }

    .icon-native-films:before {
        content: "\e008";
    }

    .icon-native-flags:before {
        content: "\e009";
    }

    .icon-native-keypad:before {
        content: "\e00a";
    }

    .icon-native-messages:before {
        content: "\e00b";
    }

    .icon-native-more:before {
        content: "\e00c";
    }

    .icon-native-near:before {
        content: "\e00d";
    }

    .icon-native-new:before {
        content: "\e00e";
    }

    .icon-native-next:before {
        content: "\e00f";
    }

    .icon-native-photos:before {
        content: "\e010";
    }

    .icon-native-playlists:before {
        content: "\e011";
    }

    .icon-native-previous:before {
        content: "\e012";
    }

    .icon-native-reading:before {
        content: "\e013";
    }

    .icon-native-recents:before {
        content: "\e014";
    }

    .icon-native-reply:before {
        content: "\e015";
    }

    .icon-native-search:before {
        content: "\e016";
    }

    .icon-native-stop-watch:before {
        content: "\e017";
    }

    .icon-native-television:before {
        content: "\e018";
    }

    .icon-native-timer:before {
        content: "\e019";
    }

    .icon-native-top-charts:before {
        content: "\e01a";
    }

    .icon-native-trash:before {
        content: "\e01b";
    }

    .icon-native-upload:before {
        content: "\e01c";
    }

    .icon-native-world-times:before {
        content: "\e01d";
    }
}

@mixin icons-social-media() {

    @font-face {
        font-family: "social-media";
        src: url("fonts/social-media.eot");
        src: url("fonts/social-media.eot?#iefix") format("embedded-opentype"), url("fonts/social-media.woff") format("woff"), url("fonts/social-media.ttf") format("truetype"), url("fonts/social-media.svg#social-media") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-social]:before {
        font-family: "social-media" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-social"]:before,
    [class*="icon-social"]:before {
        font-family: "social-media" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-social-android:before {
        content: "\e000";
    }

    .icon-social-apple:before {
        content: "\e001";
    }

    .icon-social-bebo:before {
        content: "\e002";
    }

    .icon-social-behance:before {
        content: "\e003";
    }

    .icon-social-blackberry:before {
        content: "\e004";
    }

    .icon-social-blogger:before {
        content: "\e005";
    }

    .icon-social-deezer:before {
        content: "\e006";
    }

    .icon-social-delicious:before {
        content: "\e007";
    }

    .icon-social-deviantart:before {
        content: "\e008";
    }

    .icon-social-digg:before {
        content: "\e009";
    }

    .icon-social-dribbble:before {
        content: "\e00a";
    }

    .icon-social-email-circle:before {
        content: "\e00b";
    }

    .icon-social-evernote:before {
        content: "\e00c";
    }

    .icon-social-facebook:before {
        content: "\e00d";
    }

    .icon-social-flickr:before {
        content: "\e00e";
    }

    .icon-social-forrst:before {
        content: "\e00f";
    }

    .icon-social-foursquare:before {
        content: "\e010";
    }

    .icon-social-github:before {
        content: "\e011";
    }

    .icon-social-google:before {
        content: "\e012";
    }

    .icon-social-instagram:before {
        content: "\e013";
    }

    .icon-social-lastfm:before {
        content: "\e014";
    }

    .icon-social-linkedin:before {
        content: "\e015";
    }

    .icon-social-myspace:before {
        content: "\e016";
    }

    .icon-social-paypal:before {
        content: "\e017";
    }

    .icon-social-picasa:before {
        content: "\e018";
    }

    .icon-social-pinterest:before {
        content: "\e019";
    }

    .icon-social-reddit:before {
        content: "\e01a";
    }

    .icon-social-rss-2:before {
        content: "\e01b";
    }

    .icon-social-sharethis:before {
        content: "\e01c";
    }

    .icon-social-skype:before {
        content: "\e01d";
    }

    .icon-social-spotify:before {
        content: "\e01e";
    }

    .icon-social-stumbleupon:before {
        content: "\e01f";
    }

    .icon-social-tumblr:before {
        content: "\e020";
    }

    .icon-social-twitter:before {
        content: "\e021";
    }

    .icon-social-vimeo:before {
        content: "\e022";
    }

    .icon-social-vine:before {
        content: "\e023";
    }

    .icon-social-windows:before {
        content: "\e024";
    }

    .icon-social-wordpress:before {
        content: "\e025";
    }

    .icon-social-yelp:before {
        content: "\e026";
    }

    .icon-social-youtube:before {
        content: "\e027";
    }
}


@mixin icons-tech() {

    @font-face {
        font-family: "technology";
        src: url("fonts/technology.eot");
        src: url("fonts/technology.eot?#iefix") format("embedded-opentype"), url("fonts/technology.woff") format("woff"), url("fonts/technology.ttf") format("truetype"), url("fonts/technology.svg#technology") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-tech]:before {
        font-family: "technology" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-tech"]:before,
    [class*="icon-tech"]:before {
        font-family: "technology" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-tech-anchor:before {
        content: "\e000";
    }

    .icon-tech-bluetooth:before {
        content: "\e001";
    }

    .icon-tech-cloud-download:before {
        content: "\e002";
    }

    .icon-tech-cloud-minus:before {
        content: "\e003";
    }

    .icon-tech-cloud-multiply:before {
        content: "\e004";
    }

    .icon-tech-cloud-plus:before {
        content: "\e005";
    }

    .icon-tech-cloud-tick:before {
        content: "\e006";
    }

    .icon-tech-cloud-upload:before {
        content: "\e007";
    }

    .icon-tech-db:before {
        content: "\e008";
    }

    .icon-tech-db-edit:before {
        content: "\e009";
    }

    .icon-tech-db-location:before {
        content: "\e00a";
    }

    .icon-tech-db-locked:before {
        content: "\e00b";
    }

    .icon-tech-db-minus:before {
        content: "\e00c";
    }

    .icon-tech-db-multiply:before {
        content: "\e00d";
    }

    .icon-tech-db-plus:before {
        content: "\e00e";
    }

    .icon-tech-db-search:before {
        content: "\e00f";
    }

    .icon-tech-db-settings:before {
        content: "\e010";
    }

    .icon-db-tick:before {
        content: "\e011";
    }

    .icon-tech-db-warning:before {
        content: "\e012";
    }

    .icon-tech-email:before {
        content: "\e013";
    }

    .icon-tech-email-receive:before {
        content: "\e014";
    }

    .icon-tech-email-send:before {
        content: "\e015";
    }

    .icon-tech-finger-print:before {
        content: "\e016";
    }

    .icon-tech-mobile-signal:before {
        content: "\e017";
    }

    .icon-tech-net-closed:before {
        content: "\e018";
    }

    .icon-tech-net-line:before {
        content: "\e019";
    }

    .icon-tech-net-link:before {
        content: "\e01a";
    }

    .icon-tech-net-open:before {
        content: "\e01b";
    }

    .icon-tech-net-tree:before {
        content: "\e01c";
    }

    .icon-tech-power:before {
        content: "\e01d";
    }

    .icon-tech-rss:before {
        content: "\e01e";
    }

    .icon-tech-telephone:before {
        content: "\e01f";
    }

    .icon-tech-telephone-receive:before {
        content: "\e020";
    }

    .icon-tech-telephone-send:before {
        content: "\e021";
    }

    .icon-tech-telephone-signal:before {
        content: "\e022";
    }

    .icon-tech-ui:before {
        content: "\e023";
    }

    .icon-tech-ui-1-panel:before {
        content: "\e024";
    }

    .icon-tech-ui-2-panel:before {
        content: "\e025";
    }

    .icon-tech-ui-3-panel:before {
        content: "\e026";
    }

    .icon-tech-ui-code:before {
        content: "\e027";
    }

    .icon-tech-ui-ui:before {
        content: "\e028";
    }

    .icon-tech-ui-ui-2:before {
        content: "\e029";
    }

    .icon-tech-ui-www:before {
        content: "\e02a";
    }
}


@mixin icons-location() {

    @font-face {
        font-family: "technology";
        src: url("fonts/technology.eot");
        src: url("fonts/technology.eot?#iefix") format("embedded-opentype"), url("fonts/technology.woff") format("woff"), url("fonts/technology.ttf") format("truetype"), url("fonts/technology.svg#technology") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-location]:before {
        font-family: "technology" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-location"]:before,
    [class*="icon-location"]:before {
        font-family: "technology" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-location-anchor:before {
        content: "\e000";
    }

    .icon-location-bluetooth:before {
        content: "\e001";
    }

    .icon-location-cloud-download:before {
        content: "\e002";
    }

    .icon-location-cloud-minus:before {
        content: "\e003";
    }

    .icon-location-cloud-multiply:before {
        content: "\e004";
    }

    .icon-location-cloud-plus:before {
        content: "\e005";
    }

    .icon-location-cloud-tick:before {
        content: "\e006";
    }

    .icon-location-cloud-upload:before {
        content: "\e007";
    }

    .icon-location-db:before {
        content: "\e008";
    }

    .icon-location-db-edit:before {
        content: "\e009";
    }

    .icon-location-db-location:before {
        content: "\e00a";
    }

    .icon-location-db-locked:before {
        content: "\e00b";
    }

    .icon-location-db-minus:before {
        content: "\e00c";
    }

    .icon-location-db-multiply:before {
        content: "\e00d";
    }

    .icon-location-db-plus:before {
        content: "\e00e";
    }

    .icon-location-db-search:before {
        content: "\e00f";
    }

    .icon-location-db-settings:before {
        content: "\e010";
    }

    .icon-location-db-tick:before {
        content: "\e011";
    }

    .icon-location-db-warning:before {
        content: "\e012";
    }

    .icon-location-email:before {
        content: "\e013";
    }

    .icon-location-email-receive:before {
        content: "\e014";
    }

    .icon-location-email-send:before {
        content: "\e015";
    }

    .icon-location-finger-print:before {
        content: "\e016";
    }

    .icon-location-mobile-signal:before {
        content: "\e017";
    }

    .icon-location-net-closed:before {
        content: "\e018";
    }

    .icon-location-net-line:before {
        content: "\e019";
    }

    .icon-location-net-link:before {
        content: "\e01a";
    }

    .icon-location-net-open:before {
        content: "\e01b";
    }

    .icon-location-net-tree:before {
        content: "\e01c";
    }

    .icon-location-power:before {
        content: "\e01d";
    }

    .icon-location-rss:before {
        content: "\e01e";
    }

    .icon-location-telephone:before {
        content: "\e01f";
    }

    .icon-location-telephone-receive:before {
        content: "\e020";
    }

    .icon-location-telephone-send:before {
        content: "\e021";
    }

    .icon-location-telephone-signal:before {
        content: "\e022";
    }

    .icon-location-ui:before {
        content: "\e023";
    }

    .icon-location-ui-1-panel:before {
        content: "\e024";
    }

    .icon-location-ui-2-panel:before {
        content: "\e025";
    }

    .icon-location-ui-3-panel:before {
        content: "\e026";
    }

    .icon-location-ui-code:before {
        content: "\e027";
    }

    .icon-location-ui-ui:before {
        content: "\e028";
    }

    .icon-location-ui-ui-2:before {
        content: "\e029";
    }

    .icon-location-ui-www:before {
        content: "\e02a";
    }
}


@mixin icons-user() {

    @font-face {
        font-family: "users";
        src: url("fonts/users.eot");
        src: url("fonts/users.eot?#iefix") format("embedded-opentype"), url("fonts/users.woff") format("woff"), url("fonts/users.ttf") format("truetype"), url("fonts/users.svg#users") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    [data-icon-user]:before {
        font-family: "users" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-user"]:before,
    [class*="icon-user"]:before {
        font-family: "users" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-user:before {
        content: "\e000";
    }

    .icon-user-2:before {
        content: "\e001";
    }

    .icon-user-chat:before {
        content: "\e002";
    }

    .icon-user-chat-2:before {
        content: "\e003";
    }

    .icon-user-edit:before {
        content: "\e004";
    }

    .icon-user-edit-2:before {
        content: "\e005";
    }

    .icon-user-location:before {
        content: "\e006";
    }

    .icon-user-location-2:before {
        content: "\e007";
    }

    .icon-user-locked:before {
        content: "\e008";
    }

    .icon-user-locked-2:before {
        content: "\e009";
    }

    .icon-user-minus:before {
        content: "\e00a";
    }

    .icon-user-minus-2:before {
        content: "\e00b";
    }

    .icon-user-multiply:before {
        content: "\e00c";
    }

    .icon-user-multiply-2:before {
        content: "\e00d";
    }

    .icon-user-plus:before {
        content: "\e00e";
    }

    .icon-user-plus-2:before {
        content: "\e00f";
    }

    .icon-user-search:before {
        content: "\e010";
    }

    .icon-user-search-2:before {
        content: "\e011";
    }

    .icon-user-settings:before {
        content: "\e012";
    }

    .icon-user-settings-2:before {
        content: "\e013";
    }

    .icon-user-tick:before {
        content: "\e014";
    }

    .icon-user-tick-2:before {
        content: "\e015";
    }

    .icon-user-warning:before {
        content: "\e016";
    }

    .icon-user-warning-2:before {
        content: "\e017";
    }

    .icon-user-connected:before {
        content: "\e018";
    }

    .icon-user-connected-2:before {
        content: "\e019";
    }

    .icon-user-hierarchy:before {
        content: "\e01a";
    }

    .icon-user-hierarchy-2:before {
        content: "\e01b";
    }

    .icon-user-three:before {
        content: "\e01c";
    }

    .icon-user-three-2:before {
        content: "\e01d";
    }

    .icon-user-three-switch:before {
        content: "\e01e";
    }

    .icon-user-three-switch-2:before {
        content: "\e01f";
    }

    .icon-user-two:before {
        content: "\e020";
    }

    .icon-user-two-2:before {
        content: "\e021";
    }

    .icon-user-two-switch:before {
        content: "\e022";
    }

    .icon-user-two-switch-2:before {
        content: "\e023";
    }
}
