<script src="ui-tabs.js"></script>
<ui-tabs>
    <template>
        <ui-template id="fragment-tabs">
            {#tabs}
            <tab-item>
                <tabbed-items>
                    {#items}
                     <tab-item class="{active}"><a href="#{id}"> {label}</a></tab-item>
                    {/items}
                </tabbed-items>
            </tab-item>
            <tab-item>
                <tabbed-content>
                    {#contentItems}
                    <tab-content class="{active}" data-id="{id}">{content|s}</tab-content>
                    {/contentItems}
                </tabbed-content>
            </tab-item>
            {/tabs}
        </ui-template>
    </template>
</ui-tabs>
